[2011-07-09 17:55] harikt opened #2 "Scope of variables"
Hi Paul ,
As you have already mentioned in irc , this is just an initial commit , you can ignore if I am also wrong :-) .

Currently in many places , some variables are never assigned . For eg: currently for getRead() , see $slaves . In constructor we are accepting and setting $slaves , $masters array.

[code]

So I guess the below implementation will be the correct way .

[code]

 `getRandomSlave

[2011-07-11 15:18] harikt commented on #2
Merged in https://github.com/auraphp/Aura.Sql/commit/08af037d67a42601757ce4f56d8abc5d206ad51b .
This resolves the current issue .

[2011-07-11 15:18] #2 closed, assigned to pmjones

[2011-07-15 02:25] harikt opened #4 "When no options passed"
When the $options not passed as array

[code]

the error is getting

Notice: Undefined index: options in /media/Linux/aurasystem/package/Aura.Sql/src/ConnectionManager.php on line 129 Catchable fatal error: Argument 4 passed to Aura\Sql\Connection\AbstractConnection::__construct() must be an array, null given in /media/Linux/aurasystem/package/Aura.Sql/src/Connection/AbstractConnection.php on line

[2011-07-16 17:09] harikt opened #5 "lastInsertId returns 0"
Working with MySQL in Ubuntu .

lastInsertId() returns 0 .

Have a look into http://www.php.net/manual/en/pdo.lastinsertid.php#85129 , also have a look into postgre's

http://www.php.net/manual/en/pdo.lastinsertid.php#86591

So lastInsertId seems not reliable .

[code]

[2012-02-02 02:25] harikt opened #6 "DriverFactory and Select"
Did you missed to add `DriverFactory` ?
Its still mentioning at `scripts/instance.php` .
Also the `use Aura\Sql\Select;`

[2012-02-02 02:26] pmjones commented on #6
Ah, thanks for pointing out `instance.php`. I don't know if DriverFactory is going to make it in; to have that, we need Aura.Di, and I want to keep the dependencies at zero.  Might be a way to do it without the DI package.

[2012-02-05 04:44] harikt opened #7 "lastInsertId()"
I was looking into the method `lastInsertId` ,

Postgres have a different way and I am not sure MSSQL has something different too for I don't remember or used it recently .

I feel the method `public function lastInsertId($table = '' , $col = '' )` can be moved to `AbstractDriver.php` , so we don't repeat the same method in `Mysql.php` https://github.com/auraphp/Aura.Sql/blob/master/src/Aura/Sql/D

[2012-02-05 05:16] harikt commented on #7
I have the commit over here https://github.com/harikt/Aura.Sql/commit/3d63841de9443da23cad670e5f9ca6af701fc5e9 , but I need to rebase it , else there is an index.md which I have changed to add some documentation earlier which will not work in the new way :P .

[2012-02-05 19:18] pmjones commented on #7
So, the problem with overriding from an AbstractDriver is this:  if you have `lastInsertId($table, $col)` that means you _have_ to provide a table and column name, even if the driver doesn't need them. In MySQL and SQLite they will be ignored, but in Postgres it's important. If we just make AbstractDriver `lastInsertId()` and then make just the pgsql driver `lastInsertId($table, $col)` then you ge

[2012-02-06 03:39] harikt commented on #7
May be I am missing something to understand from you .

But I wonder if we have kept `lastInsertId($table = null , $col = null )`
will have the same trouble ?

I did a test with

[code]

output is

[code]

So may be you missed to see my point . As the abstract class signature is
already having a value , but set default as null or '' , it will not be a
trouble I guess .

Did you looked the commit o

[2012-02-07 15:42] pmjones commented on #7
The problem with that signature is that it makes it easy for developers to think "Oh, I can get the last insert ID from any table I want." It _looks_ wrong when applied to MySQL.  Do you get what I mean there?

[2012-02-07 16:13] harikt commented on #7
Yes understood .

[2012-02-07 16:13] #7 closed, assigned to pmjones

[2012-02-09 14:18] pmjones commented on #4
harikt -- is this still a problem?

[2012-02-09 14:19] pmjones commented on #5
harikt -- is this still a problem?

[2012-02-09 14:20] pmjones commented on #6
So, AdapterFactory is back in place, but I'm going to leave out the Select object for the first release (it's a lot of work to get it going).  Anything else on this issue?

[2012-02-09 18:48] harikt commented on #4
@pmjones I have not tested it recently . Will look tomorrow or in the weekend .

[2012-02-09 18:49] harikt commented on #6
no for now I don't have anything :)

[2012-02-09 18:51] harikt commented on #5
@pmjones I guess no , as we moved out to its own adapters. I can test this in weekend only :( .

[2012-02-11 04:49] harikt commented on #4
As the signature changes and default `options` contains an array which is empty has solved the issue

[code]

For those who are new the example above will not work as of the changes made, so please look documentation or create a new issue if you have.

[2012-02-11 04:49] #4 closed, assigned to nobody

[2012-02-11 04:59] harikt commented on #5
For mysql this works, I don't know the case for postgre nor sqlite for I don't have both for now . If there is any issues let them open it :-) .

[2012-02-11 04:59] #5 closed, assigned to nobody

[2012-02-11 05:03] harikt commented on #6
In config/default.php , I am not sure why you didn't add

[code]

Or you missed it ?
I guess you may have thought if the user needs let them add.

[2012-02-11 16:15] pmjones commented on #6
I think I'm going to leave that out of config/default.php, at least for now. It makes more sense to have the DI service be the connection manager, rather than the adapter factory.  (Going to try to add the connection manager to the SQL package, but at worst it will be in the Framework package.)

[2012-02-11 16:20] harikt commented on #6
Why not bring it here itself . If people love to use the Aura.Di let them use connection manager , else the same as above ?

[2012-02-11 20:01] harikt opened #8 "A way to debug errors in Query Easily"
Hi ,
I just had a thought that when we do via PDO , there are possibilities that the query can fail .

And was looking through some of the articles like

http://stackoverflow.com/questions/2411182/how-to-debug-pdo-database-queries

http://daveyshafik.com/archives/605-debugging-pdo-prepared-statements.html

http://php.net/manual/en/pdostatement.debugdumpparams.php

Do you have any thoughts on this

[2012-02-11 20:14] pmjones commented on #8
We kind of do this now with the profiler/logger.  When the profiler is turned on, it captures the query text, the data bound to the query, the elapsed time, and (something i really like) a debug backtrace so you can see exactly where the query came from in the codebase.  Is that sufficient?

[2012-02-12 03:21] harikt commented on #8
When profiler is active , yes we get the query like the one below .

[code]

Problems are which I love to improve when profiler is setActive are :

1 ) You can see we cannot directly copy and paste the code and do a query some where .

So the query

[code]

 will become

[code]

something like that.

2 ) Debug backtrace is an array of recursion. So when we do a print for it, that will be hard to t

[2012-03-04 10:29] harikt opened #9 "Resolving Test Failure in Travis"
Hi @pmjones ,

In the https://github.com/auraphp/Aura.Sql/blob/master/tests/bootstrap.php , we have currently the username and password for mysql , postgres, but for travis-ci the username and passwords are different .

Can you make the necessary changes on your database system or add the tests/bootstrap.php to .gitignore files , so we don't get any issues ?

You can check the correct values in

h

[2012-03-04 10:37] harikt commented on #9
I have fixed the tests/bootstrap.php and this resolves the test failures http://travis-ci.org/#!/auraphp/Aura.Sql .

Is it a good idea to add it in `.gitignore` ? So if people have a different configuration, theirs will never mix in commits :-)

[2012-04-14 09:36] harikt opened #10 "SELECT FROM"
When cols are empty we are not adding `*` . Does that helps to resolve the error in query ? ( `SELECT FROM` )
Line 119 adding an else does that fix the issue ?

[code]

[2012-04-14 11:01] harikt opened #11 "instanceof Aura\Sql\Select"
How do you convert instanceof `Aura\Sql\Select` ? The method `toString()` is protected . `__toString()` works when we try to `echo` or `print` the object .
I was passing a select object to the query. I think we need to change the protected method to public.

[2012-04-26 01:54] guweigang commented on #11
It was ok to me...

It is worth noting that before PHP 5.2.0 the __toString() method was only called when it was directly combined with echo or print. Since PHP 5.2.0, it is called in any string context (e.g. in printf() with %s modifier) but not in other types contexts (e.g. with %d modifier)

[2012-04-26 02:03] guweigang opened #13 "Write SQLs can be queried in fetch* methods"
$strsql_w = "insert into `rel_rev_file` (revid, fileid, addtime, modtime)  values (333, 9, '2012-04-24 16:00:00', '00-00-00 00:00:00')";

$sql->fetchAll($strsql_w);

it do insert record into table rel_rev_file and throw an exception like this:

[25-Apr-2012 07:41:17 UTC] PHP Fatal error:  Uncaught exception 'PDOException' with message 'SQLSTATE[HY0
00]: General error' in /home/guweigang/local/http

[2012-04-26 14:28] harikt commented on #11
There was some issue . I guess this has been fixed by https://github.com/auraphp/Aura.Sql/commit/ca687febc38f9e58701c52a33f1f72bf557ffdcc

And thank you @cnwggu .

[2012-04-26 14:28] #11 closed, assigned to nobody

[2012-04-26 15:12] harikt commented on #13
Interesting one :) .

I tried for PDO also .

[code]

PDO also inserts data, but no error .

[code]

But for this it has, but I wonder why, for there is nothing other than the same statements are run. Though there is an exception data is inserted .

[2012-04-26 16:32] harikt commented on #9
I am closing this :-) .

[2012-04-26 16:32] #9 closed, assigned to pmjones

[2012-04-26 16:33] harikt commented on #6
Anything to add over here ? Close it ?

[2012-04-27 12:23] guweigang commented on #13
hey, harikt

i have pushed my codes to https://github.com/cnwggu/Aura.Sql

So do you have time to review it? Waiting for your answer

[2012-04-27 15:34] harikt commented on #13
@cnwggu , @pmjones is the right person to review it . I will also look into it , currently on a trip ;) .

[2012-05-02 21:15] pmjones commented on #6
Yeah, this seems like it's been taken care of. Thanks!

[2012-05-02 21:15] #6 closed, assigned to nobody

[2012-05-02 21:57] #8 closed, assigned to nobody

[2012-05-02 22:33] pmjones commented on #10
So the issue is, if somebody does this ...

[code]

... then it fails, because they didn't specify any cols to retrieve.

Although it seems harmless, I don't think we should set a default for that.  My fear is that it could get in the way of some kinds of rare but necessary queries, but I don't have any proof for that.

We can point out in the documentation how to debug that kind of problem, thoug

[2012-05-02 22:50] pmjones commented on #13
Interesting; it only generates an exception in MySQL; PostgreSQL and SQLite do not generate errors.

@cnwggu Is it your position that the `fetch*()` methods should prevent use of `INSERT`, `UPDATE`, etc.?

If so, it seems like the effort to do that is high in comparison to the reward.  It would be easier to say in documentation that "the `fetch*()` methods are convenience methods for retrieving da

[2012-05-03 02:11] guweigang commented on #13
@pmjones Yes, i agree.

[2012-05-03 02:23] harikt commented on #10
Can we throw an exception stating the reason, when cols is empty ?

[2012-05-03 02:31] harikt opened #14 "LIKE in query"
How do you make a LIKE statement ?

`SELECT * FROM table WHERE {$column} LIKE :{$column}`

[2012-05-03 02:52] pmjones commented on #14
Yes, and then you would bind `$data[$column] = '%$value%'` to the query.

[2012-06-18 05:23] guweigang opened #15 "Not quote table-fields in Aura.Sql.Select"
Hi, i'm using Aura.Sql for a while...

last friday, i check mysql logs for secure purpose. i found a lot of un-quoted fields in sqls. like:

[code]

it just process field alias and table name, how about other fields???

[2012-06-18 05:30] guweigang opened #16 "how to use Aura.Sql.Adapter.Abstract::update to auto increase field???"
method declare:

[code]

if i want to increase `count` field by 1, i will use update() like this:

[code]

it will generate sql like:

[code]

cause data type of field count  is "int", so it will convert 'count+1' to 0.

so what can i do?

[2012-06-18 13:22] #13 closed, assigned to nobody

[2012-06-18 16:48] harikt commented on #16
So the problem is

[code]

https://github.com/auraphp/Aura.Sql/blob/master/src/Aura/Sql/Adapter/AbstractAdapter.php#L876

Wondering what will be the best solution here .. @pmjones thoughts ?

[2012-06-21 06:27] guweigang commented on #16
@harikt maybe i fixed it ... if $cols's key is int, then push it in $list directory, or else do it as before

[code]

[2012-06-21 07:22] harikt commented on #16
@cnwggu I feel its a wrong assumption .

[code]

See `$cols` is an associative array . And the key is not int . The one way I thought was search the value for keys like `count` . But that will not work out :) .

Aaah man , can you try like

[code]

Probably this will work out :) . Try and let me know, or I will look tonight .

[2012-06-21 07:52] guweigang commented on #16
@harikt hi, you see

[code]

It simply join $list with ",",  and strings like :$col will be replaced by $data. So I don't think $col must be an associative array.

It's key can be int. Even there are strings like :$col  in numeric-key array, it will also be replaced by $data. Most importantly, they will generate same sqls.

[code]

Do you think so @pmjones ?

[2012-06-21 21:32] harikt commented on #16
What I thought was add a search in `$val` within the `foreach` something like

[code]

But I still wonder whether there will be any other issues. Thoughts ? :-)

[2012-06-23 14:52] guweigang commented on #16
If do like this, you will have to replace all fields before passing them in update...

but how can you know which field is needed to replace???

[2012-06-25 06:42] guweigang commented on #16
@harikt this is very important.... today, i met this problem again...

i want to set "status=status | 0x10101", so it is a common issue.

[2012-06-25 10:19] harikt commented on #16
@cnwggu I am sorry that I wasn't able to help you :( . I have been looking for a solution. But still not found :( . I can recognize your feelings as an early adopter .

@pmjones can you please have a look, if you have a bit of time to spare?.

[2012-06-25 16:31] harikt commented on #16
@cnwggu  for the time, may be you could run custom sql.

[2012-07-04 22:54] pmjones commented on #10
I get the idea there may be times when cols is _supposed_ to be empty, but I don't know.  Is the error not obvious when it occurs?

[2012-07-06 03:12] pmjones commented on #15
It'll quote only AS aliases, and fully-qualified (e.g., table.column) names.

[2012-07-06 03:12] #15 closed, assigned to pmjones

[2012-07-06 03:13] pmjones commented on #14
@harikt Does that solve it for you?

[2012-07-06 03:33] harikt commented on #14
@pmjones Yes I guess. I will reopen if it doesn't work .

It was for https://github.com/harikt/Hari.Blog/blob/master/src/Hari/Blog/ORM/DataSource/Db.php#L47

[2012-07-06 03:33] #14 closed, assigned to nobody

[2012-07-08 04:13] harikt commented on #16
@pmjones  I have been trying this. I don't think this is fixed .

Keeping the table and script for easiness

SQL :

[code]

PHP :

[code]

[2012-07-08 04:23] harikt commented on #10
@pmjones I will check . Before this I am testing the closed issues which seems not really resolved. I will open it .

[2012-07-08 04:26] harikt commented on #15
@pmjones  does that means the user should write as for the field ?

Eg: What do you think if the user has something like below

[code]

[2012-07-08 04:26] guweigang commented on #16
@harikt you should use $cols like this
$cols = ['count=count+1']

[2012-07-08 04:26] #16 closed, assigned to nobody

[2012-07-08 04:29] harikt commented on #16
@cnwggu no I don't think so . See examples in https://github.com/auraphp/Aura.Sql#modifying-rows .

[2012-07-08 04:30] harikt commented on #16
Oh is it only one column ? If so we may want to update in documentation .

[2012-07-08 04:38] guweigang commented on #16
@harikt no, you can use both integer and string as key:
$cols = ['count=count+1', 'order' => 5];

[2012-07-08 07:21] harikt commented on #16
hm. I don't think so. Lets wait for @pmjones thoughts on this.

[2012-07-10 02:16] pmjones commented on #16
What exactly is the problem?  You _should_ be able to do this:

[code]

Note that the second element is integer-indexed (even though it doesn't have the integer there). That means it's not a column name, and gets used as-is when doing the update.

[2012-07-10 02:17] pmjones commented on #16
I'm not really happy about how the syntax looks, but it will do for now.  A future release will have Insert, Update, and Delete objects that work like the Select object does now.

[2012-07-10 02:19] harikt commented on #16
aah ok fine :-) , may be we should document this or do you think we may break BC ?

[2012-07-10 02:21] pmjones commented on #16
It's not a BC break, because the old way still works exactly as before.  This is a feature addition.  Yeah, adding it to the docs might be nice.

[2012-07-23 18:38] harikt commented on #10
This was what I was trying earlier

[code]

When column is not given error is

[code]

Obviously nothing there to figure out right ?

When table name is not given , error below

[code]

Which I got the errors as below

[code]

[2012-08-15 13:04] harikt opened #22 "Multiple Insert or Batch Processing"
Hi Paul ,

I am in need to issue multi query . Is there a way we can make it ?

I was looking at http://stackoverflow.com/a/4559320/487878

Do you have any suggestions how we can make it ?

[2012-08-15 13:15] harikt commented on #10
I have modified the comments with the latest errors thrown.

[2012-08-15 14:44] harikt commented on #22
I did some experiments to make this happen. But the problem is we are using `ValuesTrait` which has values stored as a single dimension via `col` and `cols` method. So the array of values will never become multidimensional .
I will continue with more ways if I get some idea.
But this is a required one , else if I have 1000 values to insert I feel its a bad idea.

[2012-08-15 17:21] harikt commented on #22
I was trying something like

[code]

in `Aura\Sql\Query\Insert` and

[code]

in `Aura\Sql\Query\ValuesTrait`  and `Aura\Sql\Adapter\AbstractAdapter`

[code]

Now the problem is in prepare statement and also 4 tests fails .

[code]

Its not finished, nor in a working condition .

The test failure is due to the check for multi query in prepare which happens to be  a multi dimensional array for the q

[2012-08-15 17:25] pmjones commented on #22
Executing multiple inserts in a single statement is probably the fastest.  However, something that is also very fast is executing multiple inserts **inside a transaction.** I've done that before and the speed difference from doing it outside a transaction is dramatic.

[2012-08-16 01:00] harikt opened #23 "Beta3 API and Doc Missing"
Beta3 API and Doc Missing at http://auraphp.github.com/Aura.Sql/

[2012-08-16 01:13] harikt commented on #22
@pmjones What about `MyISAM` ?

[2012-08-16 01:15] pmjones commented on #22
"Don't" ? ;-)

[2012-08-16 01:17] pmjones commented on #22
On a more serious note, it sounds like a multiple insert is different-enough from a single insert that it might do better as a class of its own. I have to wonder how well prepared statements will work with multiple placeholders, though. Would need some way of numbering them properly.

[2012-08-16 01:28] harikt commented on #22
@pmjones So may be I misunderstood. So a simple question :) .

1 ) According to my understanding transactions doesn't commit on the first time and for first sql. It only does in the final stage and when there is an issue it can be reverted back by `rollBack` .

So the basic question is in MyISAM even the transaction begins its inserting, and it will not wait for the last commit ( yes / no ).
If ye

[2012-08-16 01:35] harikt commented on #22
Also according to my knowledge in a transaction if we never issued a `commit()` , nothing is inserted. Is it wrong in my understanding?

[2012-08-16 02:52] harikt commented on #22
@pmjones about numbering my idea was to for eg :

[code]

For the $cols[0] we keep the tables column name. For the other we can or we don't need to keep .
on the query level using

`0identifier0`,  `0identifier1`, `0identifier2` or `:author_id`,  `:title`, `:body`, // for first

`1identifier0`, `1identifier1`, `1identifier2`,

`2identifier0`, `2identifier1`,`2identifier2`

Not sure whether this is

[2012-08-20 04:35] harikt opened #24 "git checkout develop error"
Hi @pmjones  ,

I was trying to checkout to develop branch. But I was getting `error: pathspec 'develop' did not match any file(s) known to git.` . So I removed my repo and forked again and the same happening :( .

Is it may be due to wrong way done by release script ?

For this reason probably no more bug fixes by others or PR will come. We want to fix ASAP .

[code]

[2012-08-21 23:20] pmjones commented on #24
I just did a `git clone` and then `git checkout develop` and it works fine.

However, if you are doing a `git checkout develop` from a Composer-installed version, then yes, I ran into the same trouble. I don't know what Composer is doing when it clones from Github.

[2012-08-21 23:21] pmjones commented on #10
I don't think this is that big a deal, but even so, what do you suggest as the remedy?

[2012-08-22 00:57] harikt commented on #10
What my suggestion is if no fields or table name found lets throw a meaningful exception

[2012-08-22 00:58] harikt commented on #24
hm, I am not running from composer . I was doing the same way git clone , checkout :( .

[2012-08-22 01:02] pmjones commented on #24
Delete the checkout and try again, I say.

[2012-08-22 01:10] harikt commented on #24
hm. not sure, again forked and tried. Now it works. But I did removed and reforked yesterday too. Wondering why then :( .

[2012-08-22 01:10] #24 closed, assigned to pmjones

[2012-09-24 18:32] pmjones commented on #10
Technically, you don't always need a table name.  For example, you can issue `SELECT NOW()` and it works just fine.

After thinking about this for a long time, I realize I'd rather not get into checking SQL syntax in the PHP; if the developer gets it wrong, he'll be notified by the database. PDO will throw an exception with everything you need to diagnose the failure.

[2012-09-24 18:32] #10 closed, assigned to nobody

[2012-09-24 18:33] pmjones commented on #23
Yeah, I'm going to revisit this on the next release.  I'd rather not try to regenerate them now.  Thanks man.

[2012-09-24 18:33] #23 closed, assigned to nobody

[2012-09-24 23:42] harikt commented on #10
ok :)

[2012-09-24 23:45] harikt commented on #23
@pmjones this has been fixed. I guess it was due to the `Develop` changing to `develop` worked for gh-pages. The api was created but there was rendering issues I guess. Probably I feel we should install the jekyll and parse via the release and check whether any error is there. If any error report it.  What do you think ?

[2012-10-10 07:30] harikt opened #31 "SQL Limit"
I am not sure whether this is related with https://bugs.php.net/bug.php?id=47960

I have not checked whether we are using something like `$stmt->bindParam(':max', $max, PDO::PARAM_INT);`

as in the http://www.php.net/manual/en/book.pdo.php#96264

[code]

But returns failure . So bind seems not working.

[2012-10-10 07:30] harikt commented on #31
This is taking as string.

[2012-10-11 00:49] pmjones commented on #31
LIMIT and OFFSET values are not bind-able at the PDO level.  They have to be passed directly, as far as I can tell.

[2012-10-11 00:49] #31 closed, assigned to nobody

[2012-12-04 00:46] pmjones opened #34 "Another setPdo() option"
@harikt @stanlemon,

My first instinct was to try to build a PdoFactory with various strategies to allow for different ways to build and inject the PDO object.  After about two hours of trying things out, it was a bust, mostly because the ConnectionLocator really depends on the dsn-array.  Just as well; it would have been a BC break anyway.

So here's another option, using setPdo() as both of you

[2012-12-04 00:51] harikt commented on #34
Hey guys,

Why I don't prefer the `$dsn=null`  for if in any case assume the pdo
connection was dropped now , it will not be able to connect it again on the
stretch .

Thanks

[2012-12-04 00:55] pmjones commented on #34
@harikt What do you suggest as an alternative?

[2012-12-04 01:01] harikt commented on #34
@pmjones let them pass the dsn, there is nothing wrong in passing it , and also we are not promoting people to create a pdo and pass it. So I feel they need to pass dsn . Its their wish if they need to send a dummy value .

[2012-12-04 01:02] pmjones commented on #34
That seems "off" to me, too.  There's nothing wrong, per se, but it's not right either: it's passing information that is not intended to be used.

[2012-12-04 01:03] harikt commented on #34
one more question, also your diff is from which one?

[2012-12-04 01:06] harikt commented on #34
`but it's not right either` I agree. Why I asked about the diff is I am not seeing the `setPdo` called in connection factory and how the pdo itself is passed to connection factory .

[2012-12-04 01:09] pmjones commented on #34
My diff is from "develop".

As to setPdo() in the connection factory: what would have to happen is, you would create the "empty" connection, and then call setPdo() on it.  @stanlemon would that satisfy your existing use case(s) ?

[2012-12-04 01:15] harikt commented on #34
ok, my brain doesn't work and I will be going to office shortly. So you can go for it :+1: .

[2012-12-04 01:20] harikt opened #35 "Unit of Work and Mapper"
Hey @pmjones ,

I am not good in writing about Mappers , so I prefer you itself to write for Aura.Sql as always .

Sorry for the trouble.

[2012-12-04 01:24] stanlemon commented on #34
@pmjones Yes, this works for my use-case. This would allow me to substitute an existing Pdo connection w/o supply dummy dsn data or having to carry over the original dsn data.

FWIW: I think this is a highly advantageous change - it allows for applications w/ existing frameworks to progressively migrate over to using Aura.Sql w/o having to juggle multiple database connections.

[2012-12-04 16:43] pmjones commented on #34
Implemented by:

https://github.com/auraphp/Aura.Sql/commit/d0e337bf2099d0bd860977de3256d2848a1d030c

[2012-12-04 16:43] #34 closed, assigned to nobody

[2012-12-04 16:44] pmjones commented on #34
And I agree, it's a good change.  Thanks @stanlemon for the report!

[2012-12-07 01:38] harikt opened #37 "Release"
Hey @pmjones ,

Do you think we can release ~~2.0.1~~ `1.0.1` or ~~2.1~~ `1.1` for the Aura.Sql with the new features?

[2012-12-07 01:45] pmjones commented on #37
We only need a 2.x if we make severe BC breaks.  Adding new major features is a 1.x release :-)

[2012-12-07 03:13] harikt commented on #37
aah sorry I mean 1.0.1  :) .

[2013-01-17 01:33] pmjones commented on #37
Sure; when we start the next release cycle we'll update the version.

[2013-01-17 01:33] #37 closed, assigned to nobody

[2013-01-17 01:35] pmjones commented on #22
Is this still something you think is necessary functionality?  It seems relatively complex as it is. I'd like to close this ticket in order to clean up the issues listing, but if you feel it's really needed, I'd be happy to see a pull request in place of the ticket.

[2013-01-17 03:13] harikt commented on #37
no, I was asking for a quicker release when we did BC breaks. That helps people to upgrade only once. Else they want to do many times :-1:  .

[2013-01-17 03:15] harikt commented on #22
@pmjones I love to give a PR. But as you mentioned it is hard . But I will think about it and will come up when I have something. You can close it for the time if needed.

I will add in my todo list.

[2013-01-17 03:17] #22 closed, assigned to pmjones

[2013-05-04 14:32] ghost opened #40 "Checking for property at the Column class"
When using Twig and trying to access a Column property, it gives an error saying that the method doesn't exists.

For example, if you try to access the column name property:

col.name

It halts saying the method name() doesn't exists.
It can be fixed by just putting an __isset($key) checking if $key is a class property.

Thanks!

[2013-05-05 02:04] pmjones commented on #40
Good call. Can you place a pull request so I don't forget?

[2013-05-05 03:26] ghost commented on #40
Ok. I'll do it tomorrow.
Thanks!

[2013-05-05 03:26] #40 closed, assigned to nobody

[2013-06-05 00:55] harikt opened #42 "update Now()"
I know this will be working, but I didn't get it working like this,

[code]

but it works with the `newUpdate()` on `set('lastlogin', 'NOW()')`

[2013-06-05 16:18] harikt commented on #42
Will not work the other way. Just use the `newUpdate`

[2013-06-05 16:18] #42 closed, assigned to nobody

[2013-06-25 16:00] harikt opened #44 "Cannot port to 5.3 for we use trait"

[2013-06-26 22:37] ghost opened #45 "Query builder orWhere"
When using the orWhere() method of the Select query builder, parethesis () are not put around the where conditions, making the query result inconsistent.

There are some ways to solve it, like adding a method to open and close the OR condition, or maybe trying to detect the orWhere begin and end.

If you need some help to do it or test, msg me back.

[2013-06-26 22:41] pmjones commented on #45
Hi @ramirovjr -- adding an OR is a natural "break" in precedence; it would be presumptive to add parentheses on behalf of the user. If needed, you might try adding an open paren in one WHERE condition and a closing paren in a later WHERE condition.  Having said that, if you still feel the query builder should do this automatically, I'd be happy to review and discuss any pull request you submit.

[2013-06-26 22:59] ghost commented on #45
Your solution seens to solve the problem too, haven't thought about it.
I think that a simple documentation fix solves the bug, do you agree?
If you still want a patch, I can build it and we talk more about it.

[2013-06-27 00:19] harikt commented on #45
@ramirovjr PR are always welcome, don't ask whether we need a PR or not ;) . Give it .

Thank you.

[2013-08-07 23:27] MAXakaWIZARD opened #46 "Non-standard SQL features"
For instance MySQL supports
UPDATE tbl
SET a = 1
WHERE b = 2
LIMIT 5
Limit part is non-standard, but I need it in \Aura\Sql\Query\Update.
Same with SELECT SQL_CALC_FOUND_ROWS etc.
Can I send pull requests regarding those features or Aura\Query objects should support only standard syntax?

[2013-08-08 00:16] pmjones commented on #46
Hi Max -- that's a good question. It occurs to me now that we could have a class MysqlUpdate that extends Update and adds the non-standard stuff. Would you be interested in sending a PR doing something like that?

[2013-08-08 09:07] MAXakaWIZARD commented on #46
Yep, sure!

[2013-08-19 14:26] pmjones commented on #45
I think we're good here. @ramirovjr if you want to write up a patch to the docs, that's fine with me.  Thanks!

[2013-08-19 14:26] #45 closed, assigned to nobody

[2013-08-19 14:26] #44 closed, assigned to nobody

[2013-08-19 14:27] pmjones commented on #46
Looks like #47 deals with this.

[2013-08-19 14:27] #46 closed, assigned to nobody

[2013-08-23 02:57] #35 closed, assigned to pmjones

[2013-10-07 04:59] harikt opened #59 "Extended PDO"
Hi Paul,

I was looking into the `fetchAll` method of the extended PDO and the fetchAll method of the normal PDO.

[code]

http://www.php.net/manual/en/pdostatement.fetchall.php

[code]

You can see in `ExtendedPdo` they will not get a chance to make the class bind to the return values. Will it be good, if we can make optional arguments as that of `fetchAll` method signature ?

http://php.net/manu

[2013-10-07 06:29] pmjones commented on #59
It took me a while to understand what you were getting at.  I think I understand now.

Having the fetchAll() (and perhaps other methods) take yet another (4th) argument makes me think we are trying to shove too much functionality into the individual methods.  I don't want to find out later that we need a 5th, 6th, etc set of arguments.

One option is to make the 3rd param a generic specification,

[2013-10-07 06:42] harikt commented on #59
@pmjones my question can't we set a method to set the fetch method. So the fetchAll will not use `$data = $sth->fetchAll(self::FETCH_ASSOC);`

But something like `$data = $sth->fetchAll($this->getFetchMethod());` something like that ?

[2013-10-07 06:43] harikt commented on #59
and your example is also a good one.

[2013-10-07 07:58] pmjones commented on #59
You are confusing $sth (which is a PDOStatement object) with $pdo (which is a PDO or ExtendedPDO object). Be careful not to mix up your expectations of each one.

[2013-10-07 08:23] harikt commented on #59
I thought we could have placed a `setFetchMethod` on the `ExtendedPdo` and if none is set we set `FETCH_ASSOC` as default for the `fetchAll` method. I understood it is on statement , but was just thinking.

[2013-10-07 08:24] pmjones commented on #59
Let's not over-complicate things. If people want fine control over how things work, they can continue to work with PDOStatement objects as they have in the past. The point here is not to anticipate every possible need, but to make common cases easy.

[2013-10-07 08:44] harikt commented on #59
ok :) .

_Hari K T_

http://harikt.com , https://github.com/auraphp

On Mon, Oct 7, 2013 at 1:54 PM, Paul M. Jones notifications@github.comwrote:

[2013-10-07 08:46] pmjones commented on #59
Hey now, the other part (about modifying fetchAll() to use the underlying FETCH_\* modes and params) might still be useful.  I'm reopening so I can keep it on my mind a little more. :-)

[2013-10-14 13:15] pmjones commented on #59
After working this over a couple different ways, I'm going to leave the method signature the way it is. Thanks for the suggestion, and your patience.

[2013-10-14 14:08] pmjones commented on #59
After a short talk with @feketegy I realized we can add just two methods, fetchOneObject() and fetchAllObject() to do exactly what @harikt is asking for. Reopening this until I implement it.

[2013-10-14 14:20] harikt commented on #59
@pmjones you have all the rights to open and close :)

[2013-10-16 16:13] harikt commented on #59
@pmjones can we close this for you have implemented it.

[2013-10-16 16:51] pmjones commented on #59
Ah so! Thanks for the reminder.

[2013-10-16 16:51] #59 closed, assigned to nobody

[2013-10-21 19:07] stof opened #60 "Array quoting of placeholders for empty arrays"
In case of an empty array being bound inside a ``IN(?)``, it will generate ``WHERE name IN()``, which is a syntax error

[2013-10-21 19:11] pmjones commented on #60
I think that's the correct behavior; there's nothing to quote, after all. What do you suggest?

[2013-10-21 19:16] stof commented on #60
@pmjones The issue is that you are making it transparent to use an array, except for 1 case (which might happen but stay unnoticed when the array is dynamic). For a condition `WHERE name IN(?)` with an empty array, I would except an empty result set, not a PDOException.
Doctrine DBAL is preparing the statement as `IN (NULL)`, which will produce the expected behavior in case of a positive `IN()` (b

[2013-10-21 19:21] pmjones commented on #60
So what are you advocating for here?

[2013-10-21 19:22] pmjones commented on #60
(closed by accident sorry)

[2013-10-21 19:26] stof commented on #60
@pmjones well, the best solution could be to figure a way to have a false condition instead of a `NULL` one. It may be a bit difficult.

In the meantime, the exception would be really confusing as it would be caused by some modification done by Aura while preparing the query (the user would never find `IN()` in his code).
The other solution would be to throw the exception earlier when binding the

[2013-10-21 19:31] pmjones commented on #60
It sounds like the solution easiest to implement would be an exception thrown when quoting an empty array for a bound value. Do you agree with that, or would you prefer something else? (As always, if you have a patch or pull request, I'm happy to review.)

[2013-10-21 19:32] pmjones commented on #60
(As a side note, it is not the job of the quoting mechanism to build syntactically correct statements; that's up to the developer.)

[2013-10-22 00:40] harikt commented on #60
Thank you @stof for the bug report.

Reading all the comments first I thought it will be good to document and add an exception. Looking at how adminer ( by @vrana ) was working when I don't pass any values it worked as @stof mentioning https://github.com/auraphp/Aura.Sql/issues/60#issuecomment-26747976 .

This is a serious case for it is not working as expected though we pass NULL .
We are passing

[2013-10-22 08:47] stof commented on #60
@harikt `IN(NULL)` **always** returns `NULL` (and so is falsy), at least in MySQL. the only operator allowing to check NULL fields is `IS`, not `IN`

[2013-10-22 09:27] harikt commented on #60
yes that is what I also mean. So doesn't that mean we are altering the query.

[2013-10-27 02:35] mindplay-dk opened #61 "Performance of fetchTableCols()"
Actively fetching the table column meta-data on demand, every time the method is called, seems like a pretty big performance pitfall.

How about adding a getTableCols() method, which would cache the table columns (in memory) for the connection, once fetched for the first time?

Or is there some reason this responsibility is deliberately left to the consumer?

[2013-10-27 03:39] pmjones commented on #61
What you're describing is a caching mechanism, which is fine, but not a core function of schema discovery. Once you add a little caching, suddenly you're going to need cache clearing, and then you're going to need something that clears it automatically when a table column is modified, etc etc. On the other hand, one could implement the barest possible caching, but then people will ask why the more

[2013-10-27 06:52] harikt commented on #61
@pmjones if I understand @mindplay-dk I feel he is right.

See https://github.com/auraphp/Aura.Sql/blob/develop/src/Aura/Sql/Connection/Mysql.php#L97
If we tried a `->fetchTableCols('user')` , it will be nice to save it in memory.

I feel the script will defnitely end once the call is done, or may be we will add a flag also

[code]

So any call after the `fetchTableCols` will never look again desc

[2013-10-27 14:54] pmjones commented on #61
We're not adding a caching system to an SQL library.

[2013-10-27 14:54] #61 closed, assigned to nobody

[2013-10-27 16:48] mindplay-dk commented on #61
Given that this is PHP, that's kind of silly - I'm talking about _in-memory_ caching only, to avoid having the same connection instance fetching the same results repeatedly, during the same script run.

I was not suggesting you change the behavior of fetchTableCols(), but rather that you add a second method that does cache the result - you don't need control of that cache, it doesn't need to clear

[2013-10-27 17:10] pmjones commented on #61
"Caching the result really needs to be available at the core API level of this library to be of any real use."  Not really; anyone who wants to wrap the caching system of their choice can do so. Also, you are imagining only one use case, when others (e.g. batch processing to pre-create model classes) do not need a cache.  And I can guarantee you, from experience, that once you add a little bit of

[2013-10-27 17:57] koriym commented on #61
+1 That is Aura.

[2013-10-27 21:35] mindplay-dk commented on #61
I think you've completely misunderstood me.

All I'm asking for is this:

[code]

It doesn't replace or affect anything else - you can still call fetchTableCols() and avoid the cache if your component expects the schema might change during the same request. To most components, it isn't going to matter, and loading and constructing all of the Column objects repeatedly is simply a waste of time.

It

[2013-10-27 21:38] mindplay-dk commented on #61
also, for the record:

You're imagining only one use-case, where nobody needs a cache.

I'm imagining _two_ use-cases, one where caching is beneficial, and one where it's not.

[2013-10-27 22:04] pmjones commented on #61
The issue with the code you present is: what happens when someone issues a query to modify the table after it's schema has been read once?  Even a _little_ bit of caching is going to be an issue.

"You're imagining only one use-case, where nobody needs a cache."  Nice. ;-)  But in truth, I'm imagining _every possible_ use case, and deferring it to the user who wants to implement it, using the syst

[2013-10-27 23:26] mindplay-dk commented on #61
Absolutely nothing - if you use the _fetch_ method, the data will be _fetched_; if you use the other method, you get the state of the schema as it was at the beginning of the current request/run.

There's nothing weird or unpredictable about that.

In fact, there may be situations where getting a changed version of the schema could be a _problem_ for you - if you've built dependent data based on t

[2013-10-27 23:30] pmjones commented on #61
"we disagree, that's okay, such is life with software... if everyone agreed on everything, there wouldn't be more than one library for anything ;-) What this library does do, it does very well, even if it doesn't do everything I wished for."

A gracious and civil thing to say, sir, and I thank you.

[2013-10-30 18:52] pmjones commented on #60
@stof To reiterate an earlier question: It sounds like the solution easiest to implement would be an exception thrown when quoting an empty array for a bound value. Do you agree with that, or would you prefer something else? (As always, if you have a patch or pull request, I'm happy to review.)

[2013-10-30 18:54] stof commented on #60
@pmjones I think it is fine. It gives a clear error to the user at least. Note that I don't care much about the solution you choose as I don't use Aura.SQL in my projects anyway. I reported the issue because I looked at the package when you announced its v2 and I saw this issue which was faced by Doctrine a few months ago.

[2013-10-30 18:56] pmjones commented on #60
I appreciate you taking the time to report it, even as a non-user. Thanks!

[2013-10-31 00:16] harikt commented on #60
Thank you @stof for reporting it. Your attitude is highly appreciated.

[2013-11-07 20:03] Koc opened #62 "Check placeholders parser"
I'm porting you parser to my library for sphinxsearch query builder and noticed that queries like `'SELECT :foo'` not processed properly because placeholder on the end of the string.

[2013-11-07 20:06] Koc commented on #60
-1. We shouldn't even make query for an empty set.

[2013-11-08 09:05] stof commented on #60
@Koc -1 on what ? The latest agreement here is to throw a meaningful exception instead of letting PDO failing with a SQL syntax error, so that users understand their mistake

[2013-11-08 09:53] Koc commented on #60
-1 on adding `IN(NULL)` by default.

[2014-01-07 20:49] pmjones commented on #62
Hi @Koc -- if you have a code example, or a fix, that would help resolve the issue.

[2014-01-07 21:12] Koc commented on #62
I can update test case by adding test scenario. Where can I find tests for the https://github.com/auraphp/Aura.Sql/blob/1e97ff20bf0ca475f8e08ded2ee342e3c08fcd7a/src/Aura/Sql/Connection/AbstractConnection.php#L442 ?

[2014-01-11 07:44] harikt opened #63 "Gateway mapper"
I wished for the v1, we don't have asked for the gateway_name to insert the object. Rather get the class name from the object and use it as gateway_name by default.

Currently as the gateway_name is the first parameter for UnitOfWork.php we cannot alter it also.

[code]

For the consideration of v2 mappers.

[2014-02-04 23:35] mindplay-dk opened #66 "Sub-transactions"
Here's a custom extension I'm using:

[code]

This new method will track sub-transactions, so you can do something like this:

[code]

This eliminates the need to synchronize calls to `beginTransaction()` and `commit()` or `rollBack()` and instead performs transactions "transactionally", heh ;-)

An important point here, is that nested calls to `transact()` will be counted, and if *any* nested cal

[2014-03-29 15:39] harikt commented on #62
@pmjones this needs to be addressed.
@Koc I assume you need to split that to write a test.
Sorry for the delay and Thank you for the patience.

[2014-04-24 16:04] jklein opened #72 "Add HHVM back as a build target"
It looks like the issue that previously blocked its usage has been fixed:

https://github.com/facebook/hhvm/issues/1560

There might be other blockers, but it's worth trying again IMO.

[2014-04-24 16:23] harikt commented on #72
Sorry it is still not yet fixed at travis https://travis-ci.org/harikt/Aura.Sql/jobs/23688419 . Probably once they update to latest we can add.

[2014-04-24 16:24] jklein commented on #72
Okay fair enough, thanks for trying!

[2014-04-24 16:37] harikt commented on #72
We will open once travis is with the new version. And you are welcome. Next time you can open the PR and we will see whether we can merge or not ;) .

[2014-04-24 16:37] #72 closed, assigned to nobody

[2014-06-24 19:31] iansltx opened #75 "Sequential params on execution queries should be 0-indexed"
Currently, fetch*(), perform(), etc. assume a 1-indexed array when dealing with non-named (question-mark) params. The base PDO execute() uses a 0-indexed array. This results in inconsistent behavior between ExtendedPDO and PDO, forcing workarounds like

https://gist.github.com/iansltx/6d0181c835e5afbf2965#file-gistfile1-php-L6

(I feed those results into fetchOne() or fetchAll() depending on wheth

[2014-06-25 00:48] harikt commented on #75
Question can we do a hack with using `array_unshift` if the keys are `0`

[2014-06-25 00:50] iansltx commented on #75
Sounds like that would work.

[2014-06-25 01:05] harikt commented on #75
cool. @iansltx write failing tests and keep a patch and send a PR if you have some time.

Thanks.

[2014-06-26 06:53] iansltx commented on #72
Just noticed that Travis is running against 3.1 now. Maybe worthwhile to start testing against HHVM again?

[2014-06-26 08:02] harikt commented on #72
@iansltx still failing https://travis-ci.org/auraphp/Aura.Sql/jobs/23688453

[2014-06-26 08:13] iansltx commented on #72
Looks like the issue is here:

https://github.com/facebook/hhvm/blob/master/hphp/runtime/ext/ext_pdo.cpp#L755

and Docctrine worked around it here:

https://github.com/doctrine/dbal/pull/495

I may have a workaround for this though...

[2014-06-26 08:17] harikt commented on #72
@iansltx come with a fix, we will merge :+1:  .

Thank you.

[2014-06-26 08:24] harikt commented on #62
@Koc I assume https://github.com/auraphp/Aura.Sql/blob/a9b9cd77291fd3f4858d42fb02d03e9ddc2efb59/tests/src/AbstractExtendedPdoTest.php#L504 is the test .

Were you able to resolve this?

Thank you

[2014-06-26 08:44] iansltx commented on #72
50/50 that this will be labelled as wontfix, but here goes nothing:

https://github.com/facebook/hhvm/issues/3041

[2014-06-26 23:55] #75 closed, assigned to nobody

[2014-07-24 08:32] harikt opened #78 "with dot in bind"
Hi Paul,

I was trying something lately. The where was having a `p.id = :p.id`  , but getting error like

[code]

I had a look into the problem and it is happening at  `rebuild`

[code]

The full stuff what I am experimenting is

[code]

I don't know whether I should call it as repository or something else.

Interested to hear your thoughts. This is slightly modified than the one in gist https://g

[2014-07-24 16:59] harikt commented on #78
[code]

[2014-07-24 17:01] pmjones commented on #78
this code:

[code]

won't work either, I don't think. the : is only for named placeholders.

[2014-07-24 17:02] harikt commented on #78
So @pmjones ,

I wonder what will you do to make the where dynamic ?

[2014-07-24 17:03] pmjones commented on #78
p.id AS my_dynamic_value
WHERE my_dynamic_value = :foo

[2014-07-26 07:05] harikt commented on #78
Closing this in favour of our discussion.
Thank you.

[2014-07-26 07:05] #78 closed, assigned to nobody

[2014-08-13 17:55] brandonsavage opened #81 "Documentation doesn't discuss upgrading from 1.x version"
The documentation should discuss the major change points between 1.x and 2.x, namely the separation of the ORM concerns into a separate library.

[2014-09-30 15:31] ircmaxell opened #83 "Change ATTR"
Currently [ATTR_EMULATE_PREPARES](https://github.com/auraphp/Aura.Sql/blob/52a9f7dba31749f3bf7c6dbdaad85b1ce0adaab5/src/ExtendedPdo.php#L42) is set to `true`. This is sub-optimal.

It can open up [security issues in minor edge cases](http://stackoverflow.com/a/12202218/338665). As good practice, it should be set to false, so that it always uses true prepared statements:

[code]

[2014-09-30 22:19] #83 closed, assigned to nobody

[2014-12-06 08:54] #63 closed, assigned to nobody

[2014-12-30 08:29] frederikbosch opened #88 "New release / tag"
Could you release a new version of Aura.Sql? I am specifically interested in the extraction of the Rebuilder since I already have own methods for direct fetching. Thanks for the wonderful work.

[2015-01-07 02:23] #60 closed

[2015-01-07 02:25] #62 closed

[2015-01-07 02:28] #66 closed

[2015-01-07 02:29] pmjones commented on #81
Sorry, swamped as it is. Closing this, unless someone else wants to write up a set of change notes. :-/

[2015-01-07 02:29] #81 closed

[2015-01-07 15:20] brandonsavage commented on #81
Does closing this make sense? I filed it because it's needed even if no one has time to write it right now. If we close it we don't recognize that it's missing.

Sent from my iPhone

[2015-01-13 15:45] pmjones commented on #88
HI @frederikbosch -- I think it's fair to expect a new release over the weekend. Thanks for the nudge!

[2015-01-14 16:56] MarcusFulbright opened #90 "sqlsrv PDO Exception"
I'm running php 5.5.20 in windows with the sqlsrv extensions enabled (thread safe). When connecting to the DB with an ExtendedPdo object, I get the following error:
`PDOException: SQLSTATE[IMSSP]: The given attribute is only supported on the PDOStatement object.`

I'm sure that this is a problem with the ExtendedPdo object because the following code using Vanilla PDO works just fine:

[code]

When

[2015-01-15 02:02] harikt commented on #90
@MarcusFulbright could you do a trace .

Go to https://github.com/auraphp/Aura.Sql/blob/2.1.0/src/ExtendedPdo.php#L321 . Add a try catch and see if the error is happening over `perform` method.

[code]

If the error occurred after displaying `Performed` it is not from prepare I believe. As you mentioned it can connect, then can prepare I wonder what may be the exact reason for if you trace how it

[2015-01-15 02:07] harikt commented on #90
aah it seems you need to turn of `self::ATTR_EMULATE_PREPARES` . Try turning off .

[code]

I am looking at http://stackoverflow.com/questions/11462893/getting-yii-to-play-nicely-with-sql-server

[2015-01-15 08:55] frederikbosch commented on #88
@pmjones Thank you for the update! Looking forward to the release and using Aura.Sql.

[2015-01-15 16:35] MarcusFulbright commented on #90
@pmjones came into IRC yesterday and dropped some wisdom that got me going in the right direction. The problem has something to do with attributes that ExtendedPdo sets by default. Apparently my trouble came from ERRMODE, not EMULATE_PREPARES. Setting ERRMODE to warning or silent (its default value) gets everything to work. However, while set to warning, I got this message: `PHP Warning:  PDO::set

[2015-01-15 16:39] harikt commented on #90
@MarcusFulbright good to know it worked for you. I don't know more on sqlsrv .

[2015-01-15 16:55] MarcusFulbright commented on #90
After messing with ERRMODE on a native PDO object I can confirm that ERRMODE_EXCEPTION is just plain not supported by sqlsrv: `'PDOException' with message 'SQLSTATE[IMSSP]: This function is not implemented by this driver.'`. However, setting a native PDO to warning does not produce the bizarre `<<unknown error>>` from my above comment. It'd be nice to figure out why ERRMODE_WARNING generates that

[2015-01-15 16:59] pmjones commented on #90
Good grief, that's just ... frustrating.

@MarcusFulbright your mission, should you choose to accept it, is to write a patch for ExtendedPdo that examines the incoming DSN string to see if it's 'sqlsrv' and then modify the attributes to use WARNING instead of EXCEPTION.

[2015-01-15 17:00] pmjones commented on #90
(Additionally, you may wish to file a bug for that at php.net, after checking first to see if one already exists.)

[2015-01-17 16:15] #90 closed

[2015-01-17 16:38] pmjones commented on #88
Granted! https://github.com/auraphp/Aura.Sql/releases/tag/2.2.0

[2015-01-17 16:38] #88 closed

[2015-01-18 02:21] harikt commented on #88
:+1:

[2015-02-18 11:54] bmanam opened #95 "Problem with ExtendedPDO when using AuraDi"
I've found that whe one uses AuraDi to create an instance of ExtendedPDO, the arrays for attributes and driver options doesn't work properly:

[code]

The above results in the attributes not being set.

However, if the below is used instead:

[code]

Then it works perfectly.

How could I get it to work correctly with the first example?

Alternatively, perhaps making the arrays named parameters lik

[2015-02-18 12:04] Grummfy commented on #95
Hi,

[code]

should work better

[2015-02-18 12:33] bmanam commented on #95
@Grummfy - Thank you muchly sir!

[2015-02-18 12:33] #95 closed

[2015-03-03 17:40] frederikbosch opened #96 "First parameter cannot be null when using perform/rebuilder"
If the first parameter of a query with numbered placeholders is null, you will get an undefined offset in Rebuilder.php on line 220. The standard PDO library allows the first parameter to be null.

The following code generates the error.
[code]

[2015-03-03 18:37] pmjones commented on #96
Fixed by #97

[2015-03-03 18:37] #96 closed

[2015-03-10 15:55] mlaphp opened #98 "Provide a profile formatter/dumper"
It would be nice to have a class that automatically formats and outputs the profiler data for easier reading.

[2015-04-21 02:40] cxj opened #99 "Profiler documentation improvement request"
It'd be nice in the README.md to mention that there are likely to be multiple profile entries in the array, numerically indexed, even if only one query has been issued.  In my recent experience, I get 2 such entries for my query, both effectively identical, except the second entry actually contains the bind values and the first does not (empty array).

[2015-04-21 14:42] cxj commented on #99
I'll be happy to write the suggested improvements once I fully understand what's going on.  I used var_dump() to figure out where things were, but don't grok the "why" yet.

[2015-05-06 02:15] cxj opened #100 "fetchAssoc() seems to return only one (the last) row"
The documentation says:

    // fetchAssoc() returns an associative array of all rows where the key is the
    // first column, and the row arrays are keyed on the column names
    $result = $pdo->fetchAssoc($stm, $bind);

However, only one row is returned, nominally the last row, rather than "all rows".  Incorrect docs?  Bug in code?

[2015-05-06 02:21] iansltx commented on #100
Do you have distinct first-column values in your use case? See:

https://github.com/auraphp/Aura.Sql/blob/2.x/src/ExtendedPdo.php#L392

If you do, we've got a bug, since this should behave like a rekeyed version of fetchAll().

[2015-05-06 02:30] iansltx commented on #100
One thing that should be fine but _might_ not be: https://github.com/auraphp/Aura.Sql/blob/2.x/src/ExtendedPdo.php#L422 using current() rather than reset(). The latter is guaranteed to grab the first column in the record, while the former has no reason not to be the first column, but doesn't have quite as strong of a guarantee. Can someone with a better understanding of array iteration semantics c

[2015-05-06 02:36] cxj commented on #100
Looks like my problem was actually that the first column I was selecting might or might not be unique, so latter rows were overwriting the former.

[2015-05-06 02:36] #100 closed

[2015-05-16 06:11] harikt commented on #99
I confirm I too got 2 queries. Was using with Aura.SqlMapper . I will look into this.

[2015-05-16 06:58] harikt commented on #99
Hey ,

So I figured out where this was happening. But I don't know a right way.
Here is what I did to understand

[code]

You can see the calls of functions are to `perform` and `prepare`. Which both are profiling, may be there should be a flag to profile only one ? or may be let's leave it as it is for this is just a debugging tool, and mention the same in the docs?

[2015-05-18 09:08] gholol opened #101 "fetchNum() method"
Hi

It's not really an issue, just a simple question.
I'm little surprised that there's no fetchNum() method. Do you have any plans of implementing it?

[2015-05-18 10:25] harikt commented on #101
You mean `PDO::FETCH_NUM` ?

[2015-05-19 18:56] cxj commented on #99
I would be happy with clear and accurate documentation on how it behaves.  Maybe it is the case that a profile entry is made with each PDO call?

[2015-05-20 04:22] harikt commented on #99
Basically to every function it has.

[2015-05-25 16:17] pmjones commented on #101
Not sure what you mean here @gholol -- can you expand a bit?

[2015-05-26 16:21] pmjones commented on #99
I think that's a good idea @cxj . You want to write something up?

[2015-05-26 17:51] cxj commented on #99
I'll give it a shot.

[2015-05-27 11:26] gholol commented on #101
Well,  sure guys.

Aura.Sql provides fetchAssoc() method.

We can use it like this

[code]

Now, this of course retrieves an ASSOCIATIVE array (where the key is the
first column, and the row arrays are keyed on the column names), and so,  I cannot use it with list() function, because list() works only with numeric arrays.

I can do a workaround around this, and write something like:

[code]

But i

[2015-05-27 13:39] pmjones commented on #101
This particular case ...

[code]

... might be addressed by:

[code]

That will populate `$values` with the first column of all rows in the result set. (Note that `fetchAssoc()` uses the first column as the array key.)

Is that sufficient, or is there another case that needs to be addressed?

[2015-05-28 23:41] pmjones commented on #101
@gholol Any further thoughts?

[2015-05-29 23:46] gholol commented on #101
Hi!

Sorry for not responding, i was at work.

Your suggestion to use fetchCol() was right, it works perfectly ;) So i don't have anything else to rant about.

Have a nice day guys!

[2015-05-29 23:46] #101 closed

[2015-05-31 14:36] funkymunkey opened #102 "How to catch connection exceptions?"
How I can catch thrown  excepion, e.g related to  MySQL server being offline?
I'm experiencing this problem only with this package. It looks like exceptions thrown in ExtendedPdo aren't being catched? or i'm just doing it wrong?

I tried to wrap it inside try...catch block at the very beginning of my php scripts.

    try {
        $dbh = new Sql\ExtendedPdo(
            'mysql:host='.GameConfig::

[2015-05-31 15:15] pmjones commented on #102
That looks like it _should_ work. Is that code in a namespace? Maybe try catching `\PDOException` (note the leading backslash) if so.

[2015-05-31 15:27] funkymunkey commented on #102
No, It's not inside any namespace. I'll make a clean project with composer and Aura/Sql and check if it works then.

[2015-05-31 15:39] funkymunkey commented on #102
Okay, so after forcing connection inside try block

[code]

It now catches exceptions correctly... I guess it was related to lazy loading.
I'll close this issue now. Thanks

[2015-05-31 15:40] #102 closed

[2015-05-31 19:16] pmjones commented on #102
Oh of course it's the lazy loading. I should have thought of that. Good catch.

[2015-06-02 09:05] mindplay-dk commented on #66
You ever look at this? Just wondering.

[2015-06-02 18:41] pmjones commented on #66
(/me furrows brow) I recall looking at it, and thought I commented on closing it. I recall my comment being along the lines of, "Do the underlying engine support nested transaction natively? Do they permit rolling back to the last sub-transaction?" (I recall having other notes, but not what they were.)

[2015-06-02 21:13] mindplay-dk commented on #66
They don't, or at least MySQL doesn't - that's sort of the point; it counts the transaction level, so that calls to `transact()`, during a previous call to `transact()`, does not lead to early commits. All nested calls to `transact()` need to succeed (return true) in order for the transaction to commit.

The main point though, is to achieve transaction semantics - as opposed to manually having to

[2015-06-02 21:19] pmjones commented on #66
(/me nods)

So SAVEPOINT and RELEASE (etc) don't quite do the trick for you? A brief googling revealed support in mysql, sqlite, pgsql, and sql server, though I don't know how recently.

[2015-06-03 06:11] mindplay-dk commented on #66
AFAIK, in MySql this is supported by INNO only, but yes - you could use
that for sub transactions where available maybe, though that would give it
a very different meaning depending on the database.

I've never personally needed savepoints. I need transactions all the time,
and I don't like the non-transactional API most database APIs provide, so I
usually add in something like this. YMMV.
On Jun

[2015-06-10 15:48] JLacoude opened #104 "Parameter extraction is wrong with some SQL syntax"
Using PostgreSQL at least three different cases of SQL keywords are considered parameters.

First is the cast operator "::"

`$pdo->perform('SELECT 1::TEXT', ['someparameter' => 'b']);`
This one can be avoided using the verbose way to cast but the short syntax looks better.
The problem comes from https://github.com/auraphp/Aura.Sql/blob/2.x/src/Rebuilder.php#L159 for which a quick fix could be `"/

[2015-06-10 21:43] pmjones commented on #104
Thanks for the report; extracting the params is a tricky business. I'm happy, but surprised, that there have been so few reports on this over the lifetime of that particular bit of code (10 years or so old by now).

/me nods

This sounds like a contribution candidate; if you can come up with one I'll review it.

[2015-06-11 22:44] mizterp opened #105 "Typo in ReadMe?"
Is this a typo?

Current line | Fixed?
------------ | -------------
$bind = array('foo' => 'bar', 'baz' => 'dib'); | $bind = array('foo' => 'baz', 'bar' => 'dib');

[2015-06-11 23:39] pmjones commented on #105
Yes, a typo. Send a PR with a fix and you'll get credit automatically.

[2015-07-02 19:22] mizterp commented on #105
Done :)

[2015-07-02 19:22] #105 closed

[2015-07-21 15:53] M1ke opened #107 "Problem with queries which contain blank strings"
Using a query of the following format

[code]

And passing in an array formatted as:

[code]

I receive the PDO " number of bound variables does not match number of tokens" error.

Examining the situation the `Rebuilder` returns a valid query (i.e. the query that went in) but the array has been truncated to:

[code]

This happens because the `preg_split` in `rebuildStatement` is splitting these "e

[2015-07-21 16:10] pmjones commented on #107
From what I remember about the rebuilder, it counts the number of quotes, and looks for closing sets of quotes. That might be the culprit here.

A workaround would be to use placeholders for the blank values ...

[code]

... and then to pass blank `''` values in the array for those placeholders.

That's a workaround for the interim.

The `str_replace()` solution presumes that there are no occurren

[2015-07-21 16:12] harikt commented on #107
I was also thinking to write what @pmjones suggested passing placeholders.

[2015-07-21 16:24] M1ke commented on #107
Are there any tests for the regex at present? The issue is that I can't be certain what it's meant to detect or not detect as I don't understand the whole syntax at present, or what the goal is.

[2015-09-02 13:04] harikt commented on #107
@M1ke I think there is no tests for regular expression itself.  Don't know / remember what was the decision to extract it. But it happened in 2.1.0. iirc it was something with the place holder issues I guess.

[2015-09-16 13:36] nyamsprod commented on #107
Another workaround is to change your request and to have a newline between conditions:

[code]

This will even have the side effect of rendering you SQL query more readable. We bumped into this bug too at work and that's the workaround we choose to implement

[2015-09-16 13:38] harikt commented on #107
@nyamsprod great! .

Thank you for the patch.

[2015-10-07 13:38] frederikbosch commented on #107
Is this bug not also related to #104 and #108? In other words: when merging 108, this should be fixed, right?

[2016-01-18 05:09] pavarnos opened #110 "yield with fetch*() functions"
#Hi Paul. Interested in your opinion on the value of using generators to reduce the memory footprint / increase performance. http://php.net/manual/en/language.generators.syntax.php eg fetchAssoc()

[code]

[2016-01-18 05:12] iansltx commented on #110
I'm not @pmjones but I've thought about building something that implemented ExtendedPdoInterface but used async mysqli under the covers for result sets, which is somewhat in the same vein, and would likely use generators like you're doing here.

Catch of course is that we'd lose PHP 5.3 support, but seeing as how it's been EOL for ages, that's probably fine.

To clerify...I'm in favor of this for

[2016-01-21 09:47] harikt commented on #99
Closing this for this was addressed in https://github.com/auraphp/Aura.Sql/pull/103 .

@cxj in case it is not completely address we can re-open.

Thank you

[2016-01-21 09:47] #99 closed

[2016-01-22 16:32] dhrrgn opened #111 "Binding variables conflicts with some Postgres SQL queries."
Assume you are trying to execute the following SQL query.

[code]

The `::type` syntax, in Postgres, casts the value to that `type` (above we are converting the string to a `TIMESTAMP`).  Now, lets try to execute the query and bind a value:

[code]

This gives you an error: "Undefined offset: 0" in `src/Rebuilder.php` on line 247.

[2016-01-22 16:34] pmjones commented on #111
Can you tell if #108 would resolve that?

[2016-01-22 16:35] pmjones commented on #111
Alternatively, would it be enough to have the interpolator ignore `::` in what would otherwise be recognized as placeholders?

[2016-01-22 16:39] dhrrgn commented on #111
I can't tell just by looking at that particular PR (it is rather massive).  Your second suggestion would probably be the best solution.  I am not sure how the interpolator works (haven't looked), but it should be something equivalent to this regexp: `:([\w.\-]+)` (not sure if you want to allow periods and hyphens).

[2016-01-22 16:42] pmjones commented on #111
(/me nods) The code in question is in Rebuilder::rebuildPart(). If you want to submit a PR with a test I'll be happy to review, otherwise I'll come back around to this at some point in the future.

[2016-01-22 16:45] dhrrgn commented on #111
I will see what I can do.  I won't be around this weekend, and don't have time to dig into it today, but I will take a look next week.

[2016-01-22 16:48] dhrrgn commented on #111
Also, sorry, I totally missed #104 when looking through the open issues to see if this was mentioned anywhere.  I am actually just going to close this issue, and track that issue.  if I come up with an easier solution than that _massive_ pull request, I will submit that.

[2016-01-22 16:48] #111 closed

[2016-02-12 21:34] Sieg commented on #110
Hi. And if possible, when the release is planned ? :)

[2016-02-13 05:05] harikt commented on #110
Hey @Sieg ,

Major means 3.x . Currently it is not yet started for this package.

[2016-02-15 14:09] Sieg commented on #110
@harikt, yes,

Im interested in next major release date. Is it known already? This year summer, winter? next year ? :) As i see by commits history, the development of component is going not too fast?

[2016-02-15 14:54] harikt commented on #110
@Sieg Sorry, I don't know more about the release dates / plans. And it will be hard to maintain different versions and dump old versions just for yield functionality. And we don't have many developers here to maintain all these versions. So time is a constraint. Anyway things will be here eventually as far as this is not a bug, but a feature.

Thank you.

[2016-02-15 14:58] Sieg commented on #110
@harikt, thanks for the answer! The feature could be huge performance improvement for this layer. If you want more interest in your product, you should definitely introduce the implementation of generator usage in here ;) as soon as possible! Have a nice day!

[2016-02-15 15:03] harikt commented on #110
@Sieg cool, thanks for your interest. If anyone is interested I can create a 3.x branch. So can send PR against 3.x.

I would also love and let @pmjones take care rest of the things.

Thank you

[2016-02-16 19:49] pavarnos commented on #110
Just thinking out loud: the functions we are talking about are quite complex because of the optional callback passed in as a parameter. If there is going to be a new major release, why not drop the callback parameter to simplify things, and recommend lstrojny/functional-php for post processing results.

http://markbakeruk.net/2016/01/19/a-functional-guide-to-cat-herding-with-php-generators/ has an

[2016-03-02 21:20] pavarnos commented on #110
hmmm... my bad for not understanding clearly how this would be used. I tried rewriting fetchAll() with a yield

[code]

but get 20 failing tests because fetchAll() is supposed to return the entire data set as an array (not an Iterator).

Best alternative i can think of is to create a new function

[code]

and a related fetchIteratorObjects().

Would that work?

[2016-03-03 03:42] harikt commented on #110
@pavarnos cool. Good experiments.

I am ok with adding a new functionality for newer things can be added and is not a BC issue. We can always push to major release. And probably document that this only works for php 5.x sort.

But we need to know what @pmjones thinks about the idea.

[2016-03-04 16:27] pmjones commented on #110
I think it might be time to consider a 3.x branch. :-)

[2016-03-04 16:42] pmjones commented on #110
All right, 3.x is started. @pavarnos, I say we drop the callable argument from the various `fetch*()` methods, and add new methods called `yield*()` that mimic the relevant `fetch*()` ones, to indicate they are generators. (Or perhaps `generate*()` ?)

[2016-03-06 22:31] pavarnos opened #114 "class complexity reduction ideas"
Don't want to over-step my welcome here. Just wanted to toss a random idea at you to see if you like it...

phpStorm / php mess detector warn that the class is quite complex.

![screen shot 2016-03-07 at 11 05 27 am](https://cloud.githubusercontent.com/assets/589595/13557479/1492263e-e456-11e5-9409-4f6f690e5ca5.png)

To some extent this is to be expected: it is the nature of this kind of component

[2016-03-06 22:36] pmjones commented on #114
Not overstepping your welcome at all. Yes, it's definitely a complex class, one of the most complex in Aura. A lot of that is because it extends PDO, rather than being "its own thing".

Let's get the yield() stuff in place first, then we can revisit this more thoroughly.

In the mean time:
- The separate classes and constructors for a wrapped PDO vs a lazy-instantiated PDO sounds like it has merit

[2016-03-06 22:39] pavarnos commented on #114
lol. was going to suggest a PSR-3 logger but didn't want to overstep my welcome even further...

[2016-03-06 22:41] pmjones commented on #114
Great minds :-)

[2016-03-07 13:10] pmjones commented on #110
This is completed in the 3.x branch.

[2016-03-07 13:10] #110 closed

[2016-03-08 22:00] pavarnos commented on #114
hmmm... i just spent a couple of hours implementing LazyExtendedPdo to see what would happen. It ended up being 760 lines of fairly useless php: most of the functions look like

[code]

where $this->connect() creates a new ExtendedPdo.
An alternative is to use __call() and @method so code completion works, but i'm not so keen on magic. I'd rather have plain obvious code.

Pull request follows, wit

[2016-03-12 16:33] pmjones opened #119 "Remove "Lazy" ExtendedPdo in 3.x"
It occurs to me that there are better ways to manage laziness of connections, than by having the connection manage itself. Providing a Factory or Container that only creates an ExtendedPdo on demand, rather than the LazyExtendedPdo instance creating its own internal connection on demand, would support a better separation of concerns. While this reduces the ability of older codebases to migrate dir

[2016-03-12 16:39] harikt commented on #119
I am in the late nights, so I will keep this for a fresh day to think :) .

Thank you.

[2016-03-12 17:01] mbrevda commented on #119
This can cause issues when unit testing. I.e. if my class has an Sql instance passed in on construction, which tries to connect on jnstanciation, my test would fail if there is no DB available. But what if my test doesn't require a DB at All?

[2016-03-12 17:50] pmjones commented on #119
@mbrevda Fair point. For testing purposes, if a DB is not needed and not actually available, might it be worthwhile to pass a "FakeExtendedPdo" that overrides the constructor to not-connect at all?

[2016-03-12 17:58] mbrevda commented on #119
I think that is an oversimplification that went past the red line and is no back on over complicated territory.

The test might be to confirm that the ExtendedPdo class is actually available - and yet we still require no connection.

[2016-03-12 18:00] pmjones commented on #119
(/me nods)

I presumed, but did not explicitly say, that FakeExtendedPdo would extend ExtendedPdo to override the constructor. Confirming that `$fakeExtendedPdo instanceof ExtendedPdo` should still pass in that case.

Keep the Devil's advocacy coming.

[2016-03-12 18:04] pmjones commented on #114
@pavarnos All right, on to the Profiling work.

Yes, we definitely want to replace it with a PSR-3 typehint, and inject a PSR-3 logger instead of the existing profiler. My initial intution is that ProfiledExtendedPdo can create the message and pass the profile information as context.

One of the use-cases is to be able to turn logging on and off at particular points the codebase, so merely passing

[2016-03-12 20:04] pavarnos commented on #119
what about making LazyExtendedPdo accept a callable in the constructor instead of dsn, username, password etc? This allows
- laziness without having to use the connection locator (which is good for smaller projects),
- allows decoration of an existing PDO (to cover that use-case which I completely overlooked in #116)
- simplifies LazyExtendedPdo: fewer private member variables
- would allow a mock

[2016-03-12 20:07] pavarnos commented on #119
ps. the variadics in query() are much cleaner. very nice! good to get rid of that ugly code... i'd been focussing on php5.5 and earlier compatibility. Good to be free of that...

[2016-03-12 20:16] pavarnos commented on #114
OK. How did you want the messages to look? Something like

[code]

[2016-03-12 22:17] pmjones commented on #119
(/me nods)

I am not sold on the idea of removing laziness from ExtendedPdo, but I do find it appealing, esp. given my development experiences of the past few years. Even in smaller projects, there has often (even usually) been a DI container of some sort that provides laziness. Objects needing a PDO connection have that connection created only as the object itself gets instantiated.

[2016-03-13 20:22] pavarnos commented on #119
(after thinking about it for a day or so) imho in a generic toolkit like this, it "might be handy" to have
- a decorating / proxying class as a leg-up for users so they don't have to roll their own. A wee bit of documentation could show how it can be repurposed into a mock, a lazy loader, an existing-pdo-decorator (for when you need compatibility with another framework)
- a NullExtendedPdo or Fake

[2016-03-14 04:39] harikt commented on #119
If my understanding is correct phpunit out of the box now support https://github.com/phpspec/prophecy . So you can actually mock things easily for testing.

Regarding removing of laziness, I am probably not understanding what is the reason we need to remove the laziness.

[2016-03-14 04:41] harikt commented on #119
can we do in the `connect()` method calling the `parent::__construct()` if not called ? So we don't call the `new ExtendedPdo` in `LazyExtendedPdo` ?

[2016-03-14 06:14] pavarnos commented on #119
@harikt yes if we pass in a callable instead of the dsn, user, password etc. See my earlier comment above

[2016-03-14 06:35] harikt commented on #119
@pavarnos I think you are talking about [this comment](https://github.com/auraphp/Aura.Sql/issues/119#issuecomment-195800970) . But that is a bit different with what I mentioned.

To clear up what I am telling is

[code]

So we are lazy with the `ExtendedPdo` itself. This is what I tried : ~~https://3v4l.org/hchAI~~ .

Updating with https://3v4l.org/R3RQ5

[2016-03-14 06:57] harikt commented on #119
UPDATE : ~~I see one problem, we cannot make use of existing pdo connection in that case. Eg : https://github.com/auraphp/Aura.Sql/pull/32~~ assumption was wrong.

[2016-03-28 14:26] vv3d0x opened #121 "ExtendedPdoInterface missed method"
Please provide in ExtendedPdoInterface method called "fetchGroup" that method does not exist in interface, ConnectionLocator return a ExtendedPdoInterface object and IDE does not support "fetchGroup" method (does not highlight)

[2016-03-28 14:36] pmjones commented on #121
I hear you. Unfortunately, we can't modify the interface without breaking BC, which in turn requires a major version bump (from 2.x to 3.x).

However, we have started on the 3.x version, which may be of interest to you.

Sorry for the hassle.

[2016-03-28 14:36] #121 closed

[2016-03-31 21:27] pavarnos commented on #119
Hopefully #122 answers some of these issues? using `setPdoFactory` lets you inject an existing pdo, lave a lazy profiled extended pdo and other useful combinations.

[2016-03-31 21:33] pavarnos commented on #114
looks like we covered everything here. closing for now. feel free to re-open if needed

[2016-03-31 21:33] #114 closed

[2016-03-31 21:34] pavarnos commented on #98
this is resolved by #120?

[2016-04-01 13:44] pmjones commented on #119
@harikt That's very clever, running the constructor from within connect(). I see @pavarnos mentioned it elsewhere too. Normally I don't like "clever" but it seems like it might work well.

[2016-04-01 13:50] pmjones commented on #119
@pavarnos with @harikt's "connect/construct" approach in mind, perhaps an added "DecoratedPdo" becomes the thing, where an existing PDO connection is passed to the constructor.

[2016-04-01 18:33] pmjones commented on #119
@pavarnos I'll see your #122 and raise you the commits in the `nonlazy` branch starting earlier today: https://github.com/auraphp/Aura.Sql/commits/nonlazy

[2016-04-01 18:53] pavarnos commented on #119
Yes. Was having trouble visualising how it would work

[2016-04-01 20:38] pmjones commented on #119
So, the problem with the connect/construct approach, in combination with a DecoratedPdo, is that at some point you have to proxy everything to the underlying PDO object being decorated. Scrutinizer does not like that so much; ExtendedPdo gets an "A" in nonlazy, but the proxied version in the "relazy" branch gets a "C". (The relazy ExtendedPdo decorates an underlying PDO object.)

https://scrutiniz

[2016-04-02 03:56] pavarnos commented on #119
I like the new Profiler class (and interface). Makes it easy to switch in a new one if you don't like how the bundled one works.

Not really liking the profiler as part of ExtendedPdo because I don't want to pay the overhead of calling a profiler for each function when most of the time I will not need it (especially in production).
eg

[code]

if you remove the profiler calls you don't need this f

[2016-04-02 15:00] pmjones commented on #119
Totally understood; it _looks_ like a lot. However:  I have not benchmarked "this exact implementation" but I opine from "past related benchmarking" that the overhead of the extra calls to the profiler will be a rounding error compared to the time it takes to run the related query -- or even to the time it takes to just make the connection in the first place.  You get what I mean there?

Fair. And

[2016-04-02 15:30] harikt commented on #119
I also agree with @pavarnos thoughts here. And I do know @pmjones have lots of experience with the benchmarks and it may be very few micro / nano seconds for the function to execute.

But still, probably it may be good to keep the profiler separate though.
I do understand for quick testing if profiler is within, it may be easy. So now I am confused :-) .

[2016-04-03 16:56] pmjones commented on #119
All right, a couple of "executive decisions":
- **Not** removing laziness after all. A couple of experiments showed that it could be retained, with good marks from Scrutinizer.
- **Not** using a separate ProfiledExtendedPdo, at least not at this time.

The work is in the "relazy" branch, which I'll merge to 3.x shortly.

Thanks, everyone, for your patience with my working-things-out, and for your

[2016-04-03 16:56] #119 closed

[2016-04-05 23:00] pmjones commented on #98
I think #120 is the start. It occurs to me that:
1. we need the backtrace in the logging/profiling, so we can track back to where the query came from (I've found that super-useful in the past); and,
2. instead of a "message prefix", we need a "formatting line" with placeholders tokens; that way different users can log different things.

Does that make sense?

[2016-04-06 01:06] pavarnos commented on #98
re 1: yeah it would be handy. But Monolog makes it trivially easy to add a BacktraceProcessor (for example) to add stack traces to a channel. Trivial to write. Why add it here?

2 sounds great. much more flexible. Would be nice to have a separate "channel id" value somewhere so it is easy to distinguish which channel it came from in your ConnectionLocator

[2016-04-06 18:02] pmjones opened #123 "Consider dropping arrays from quote()"
ExtendedPdo::quote() converts arrays to comma-separated quoted values. Consider dropping this as a function of quote(), while leaving an equivalent in place for the Rebuilder.

[2016-04-07 18:45] pmjones commented on #98
I was not aware of that; I'll have to take a look at it.  Even so, I'd prefer to rely only on PSR-3, not on a particular implementation of it.

Good deal; I'll see what I can do, unless you get to it first.

[2016-04-14 12:18] Yoskaldyr opened #124 "to delete"
----

[2016-04-14 12:23] #124 closed

[2016-04-18 04:13] pavarnos commented on #98
Monolog: LineFormatter::includeStacktraces()

[2016-04-21 09:03] aik099 opened #125 "Add statement iterator"
Currently the `fetchAll` can be used to get all data from statement execution as an array. This unfortunately will result in out of memory error, when:

* there is a lot of data
* consumer of data needs only 1 row at a time to process it

Proposing to add several iterators, that would:

1. accept `PDOStatement` in constructor
2. while used will emulate output of `fetchAll`, `fetchAssoc` or even `f

[2016-04-21 09:34] aik099 opened #126 "Adding "$options" to "ExtendedPdo::perform" and "ExtendedPdo::prepareWithValues" methods"
The `ExtendedPdo::perform` method is allowing to specify created `PDOStatement` options. The `ExtendedPdo::prepareWithValues` (called directly or through `ExtendedPdo::perform` method) however doesn't allow specifying `$options` for underlying call to `ExtendedPdo::prepare` method.

This makes it impossible to create `PDOStatement` with custom options and bind values to it using Rebuilder in singl

[2016-04-21 13:39] harikt commented on #125
Hi @aik099 ,

We have a 3.x branch coming which contains yield statement. https://github.com/auraphp/Aura.Sql/blob/a0542e6c5f45eb75c2122393fca7b92fe8589832/src/AbstractExtendedPdo.php#L610 . Hope that helps to fix the huge memory issue if any.

[2016-04-21 13:43] pmjones commented on #126
If you have the time and inclination, submit PR against the 3.x branch with this addition, and I can review it. (The PR would need to change the ExtendedPdoInterface as well.)

[2016-04-21 13:44] pmjones commented on #125
Yes, @harikt has it right -- would the 3.x branch suit your needs @aik099 ?

[2016-04-21 13:47] aik099 commented on #125
It would if the minimal PHP version requirement was the same as for 2.x branch (PHP 5.3+). I'm using PHP 5.4 and therefore it doesn't help me at all.

[2016-04-21 13:52] pmjones commented on #125
/me nods

There's a further problem: we can't change the 2.x ExtendedPdoInterface, because that would be a BC break. However, if you want to submit a PR with the iterators you mention as part of just ExtendedPdo (in the 2.x branch), I'll review it.

[2016-04-21 13:58] harikt commented on #125
@aik099 if your app works fine in 5.3 + is there any issues upgrading it for 5.4 has become EOL iirc.

[2016-04-21 14:16] aik099 commented on #125
I'll see what I can do. Iterators won't require any change in the interface, because they would work with `->prepare` method result, which is PDOStatement class object. Without iterators large data transformations without lots of copy/pasted code aren't really possible for me unfortunately.

@harikt , I'm using Aura.Sql not for a website project. This is a CLI app, that runs on developer machine a

[2016-04-21 14:26] pmjones commented on #125
@aik099 Maybe I misunderstood. You want to create _new_ methods that return iterators, or _change_ the existing `fetch*()` methods to use iterators? If the former, all is well; if the latter, that's a non-starter.

[2016-04-21 14:26] harikt commented on #125
Sure. Thank you.

[2016-04-21 15:17] aik099 commented on #125
I wanted to create new iterator classes, that would accept PDOStatement. No new methods, that return iterators would be added to the `ExtendedPdoInterface`, because you said before this would introduce a BC break.

[2016-04-21 15:18] aik099 commented on #125
If you allow to add new methods to the interface, then it's even better. In either case I don't plan to change signature of existing interface methods, because this would be a BC break for sure.

[2016-04-21 15:19] pmjones commented on #125
Well, you can add the new methods to the `ExtendedPdo` _class_, but they cannot be part of the `ExtendedPdoInterface` (which I think is a fair tradeoff for the extra functionality). Changing the return of the existing `fetch*()` methods is a much more serious break, which is why it's a non-starter.

[2016-04-28 07:27] aik099 commented on #125
What if I add same `yield*` methods as in https://github.com/auraphp/Aura.Sql/blob/a0542e6c5f45eb75c2122393fca7b92fe8589832/src/AbstractExtendedPdo.php#L610, but they would return corresponding iterator instead?

If methods are used directly in `foreach`, then nobody will notice any difference.

[2016-04-28 07:44] harikt commented on #125
@aik099 that breaks the minimum php version you mentioned https://github.com/auraphp/Aura.Sql/issues/125#issuecomment-212926907 . And yield is already coming in v3 . So probably you can send to 3.x branch .

[2016-04-28 08:02] aik099 commented on #125
No I'm mean this:

[code]

This way people using `yieldAll` in 2.x version can continue use it in 3.x version without knowing that internally it does different things with same outcome.

[2016-04-28 12:08] pmjones commented on #125
@aik099 I think that would be OK. If you want to submit a PR then I can review. Thanks!

[2016-04-28 12:49] aik099 commented on #125
I've already created iterators and just need write unit tests for them. If no problems will happen in the process then I should be able to submit PR this week.

[2016-04-28 13:31] harikt commented on #125
@pmjones doesn't the build of 5.4 will fail in that case? Or do you think we document the change ?

[2016-04-28 13:43] aik099 commented on #125
@harikt , why it should fail? I'm using 100% PHP 5.3 compatible syntax there.

[2016-04-28 13:49] pmjones commented on #125
@harikt Unless I'm missing something, returning an iterator from function isn't a break. As long as it's not added to the interface, all should be well. Have I forgotten something?

[2016-04-28 13:55] harikt commented on #125
oh oh sorry guys. I thought this uses `yield` function. Carry on :+1:  .

@aik099 thank you for clarifying.

[2016-04-28 18:09] aik099 commented on #125
PR created and ready for review: #127

[2016-04-28 18:43] #125 closed

[2016-07-16 06:36] melvinchia opened #130 "try{} catch() {} for PDOException"
Hi, I'm writing a RESTful API application, and need to detect if a database goes off-line without the entire application bombing out with a PDOException.

I'm using Aura.Sql and Aura.SqlQuery, but how and where in the query do I incorporate a try{} catch() {} so that I can return a logical false before the application bombs out when using Aura.Sql as an ExtendedPdo?

[2016-07-16 14:26] harikt commented on #130
@melvinchia I am not specifically sure what you are looking for.

You can use try catch before you execute the queries. It can be any query via pdo. If you came across any specific problem happy to hear.

Thank you.

[2016-08-10 14:50] cdekok opened #131 "AllIterator first is always empty."
When i iterate over the AllIterator (or other iterators) the first time the row will always be null.
because the first call is ->valid() and it checks for:

[code]

After it goes to the current method, then it will go to the next if we call the fetch on the valid method it should work properly.

[2016-08-10 14:53] pmjones commented on #131
That sounds like a problem. The test, though, seems to show the right behavior (https://github.com/auraphp/Aura.Sql/blob/2.x/tests/AbstractExtendedPdoTest.php#L234-L241). Is the test put together incorrectly, maybe?

[2016-08-10 14:57] aik099 commented on #131
@cdekok , are you using `yield*` methods to create iterator or manually create it by using existing PDOStatement?

[2016-08-10 15:02] cdekok commented on #131
I am using the yieldAll method but really it shouldn't matter the problem is in the iterator.
You can see the order for iterator calls on: http://php.net/iterator

[code]

Am not sure why the test works though it seems to be ok?

[2016-08-10 15:03] pmjones commented on #131
@cdekok If you can write a test for it, that shows the failure, that will help us track down the problem.

[2016-08-10 15:06] aik099 commented on #131
The `rewind` method is calling `next`, which in turn (for `AllIterator`) does `$this->row = $this->statement->fetch();`. So unless `PDOStatement::fetch` returns `null` instead of `false` for some reason it should work.

Maybe it works for SQLite (used during tests), but fails for MySQL. Which DB are you using?

[2016-08-10 15:21] cdekok commented on #131
Ah yes you are right i totally missed it it works fine, it was because it was passed aync in guzzle seems that never hits rewind.

[2016-08-10 15:21] #131 closed

[2016-08-17 17:55] harikt commented on #130
@melvinchia was you able to solve this or still need some help?

If you were able to solve this, please close the issue.

Thank you.

[2016-08-18 21:55] pmjones commented on #130
@melvinchia I suggest wrapping the actual ExtendedPdo call from Aura.Sql to begin with.

[code]

Let us know if that helps or not, and we can reopen the ticket as needed.

[2016-08-18 21:55] #130 closed

[2016-09-30 01:49] bohwaz opened #132 "sqliteCreateFunction method doesn't work"
This is funny:

[code]

The method seems to exist only after connection:

[code]

I guess this would be the same with sqliteCreateAggregate and sqliteCreateCollation and other DB-specific methods of PDO.

[2016-09-30 02:04] bohwaz commented on #132
Ah, just realised that ExtendedPdo is not using parent::__construct so I can't have access to this method even after connection, I need to use ->getPdo()->sqliteCreateFunction() instead. Makes sense, but it would also make sense to be able to use PDO methods on an "ExtendedPdo" object ;)

[2016-09-30 14:25] pmjones commented on #132
I've been using PDO almost since it was introduced, and I did not know about this behavior. You really do learn something new every day.

[2016-09-30 15:34] dhrrgn commented on #132
Just throwing in my 2-cents here:  Why not proxy all non-defined method calls through to the underlying PDO object?  Something like this:

[code]

This would still not allow @bohwaz's first example, because the `PDO` object is lazily created.  You _could_ auto-connect in the `__call` method above.  Also, you could define this methods explicitly on `ExtendedPdo`, but that is a rabbit hole I don't t

[2016-09-30 18:48] pmjones commented on #132
@dhrrgn That's a neat idea; I wonder if it would work. You could skip the BadMethodCallException entirely and just let fail. Hard to put into an interface, but then, it might not matter.

If anyone's interested in writing up a solution for this, I'd be happy to review their PR.

[2016-09-30 20:42] bohwaz commented on #132
What I would do personally is use __call() like you said, but have a whitelist of methods and if the PDO object is NULL (= not connected), store the method name + list of arguments in an array, and in connect() iterate over these. This is slightly better in a way, as you don't have to worry, as an user, if the connection has been made or not (and you usually define functions just after constructin

[2016-12-11 19:49] pavarnos opened #133 "Profiler logs most queries twice"
call $xpdo->fetchAll('select * from my_table');
It calls perform() as below
[code]

prepareWithValues() also calls $this->profiler->start() and finish(), so each query gets two items in the log (unless you write a special logger filter to ignore one of them). Can you think of a good way around this from within ExtendedPDO? I can't at the moment...

I think the root of my discomfort with this is ou

[2016-12-11 19:53] pmjones commented on #133
Agreed. I no longer think the "prepare" portion is worthy of logging, and it should be removed from 3.x. (Speaking of 3.x, I think the last major thing to deal with is the "rebuilder" logic from @JLacoude, which I mat attempt to address myself.)

[2016-12-11 20:08] pavarnos commented on #133
sounds good.
a 3.x release soon would be awesome. thanks!
while we are thinking about this... the logger logs the actual $statement object which makes using chrome-php a hassle: lots of clicks to open each log item to see what it actually is.

eg from Profiler.php near the bottom
[code]
but the $statement parameter is declared as a string parameter. Maybe the line should be
[code]
?
or maybe (sinc

[2016-12-12 09:17] frederikbosch opened #135 "[3.x] Do not distribute password in exports"
I would suggest implementing `__debugInfo` and `sleep` to prevent passwords showing up in logging or debugging information. You can have a look at [Halite](https://github.com/paragonie/halite) how this could be implemented: see their `HiddingString` class with the [__debugInfo](https://github.com/paragonie/halite/blob/master/src/HiddenString.php#L66) and [__sleep](https://github.com/paragonie/hali

[2016-12-12 09:20] frederikbosch commented on #123
Or add a new method for it: `quoteArray` and `quoteScalar`. I would leave `quote` to its current behaviour.

[2016-12-12 15:14] pmjones commented on #123
Yeah, on consideration, that's the best thing. Thanks for the feedback!

[2016-12-12 15:14] #123 closed

[2016-12-12 15:15] pmjones commented on #107
Note to self: add a test for this against #134 after it merges.

[2016-12-19 21:27] cdarken opened #136 "Documentation on other functions than retrieve related"
Hi. Do you plan to add some info how to use insert, update and transactions? Would be helpful.

[2016-12-26 21:33] pmjones commented on #136
Hi @cdarken -- what did you have in mind?

[2016-12-26 22:37] cdarken commented on #136
Hello @pmjones . I was able to look into the source and the tests to see how update and insert should be used, but I think that the README should be updated with some snippets for those cases as well, what do you think?

[2016-12-27 05:55] harikt commented on #136
@cdarken feel free to send a PR with the changes you love to see.

Someone will review and merge it. We are always happy to accept PR.

Thank you.

[2016-12-27 05:58] harikt commented on #133
There was also a suggestion to show real sql query so we can just copy and paste the code that need to be executed. Currently if there is bind params it was showing differently.

[2016-12-27 06:02] harikt commented on #135
Hi @frederikbosch ,

I am sorry for I don't know what you are going to show in the debuginfo or using sleep ?

[2016-12-27 06:04] pavarnos commented on #133
Showing the full/final query sounds very handy

[2016-12-27 14:27] frederikbosch commented on #135
@harikt Everything except the login credentials.

[2016-12-27 14:50] frederikbosch commented on #133
@pavarnos This can be achieved as follows [starting with PHP 7.2](https://wiki.php.net/rfc/debugging_pdo_prepared_statement_emulation).

[code]

It could be used for logging.

[2017-01-12 21:41] pmjones commented on #135
Fixed in #137

[2017-01-12 21:41] #135 closed

[2017-01-12 21:42] pmjones commented on #104
This appears to be fixed by #138

[2017-01-12 21:42] #104 closed

[2017-01-12 21:43] pmjones commented on #107
#134 is obviated; write a test for this against #138 .

[2017-01-12 21:45] pmjones commented on #126
@aik099 Any further interest in this? If so, a PR is welcome.

[2017-01-13 08:15] aik099 commented on #126
At the time I was suggesting this I thought it was needed to create `yield...` method-related iterators to be able to traverse over SQL result in both forward and backward (the `PDO::CURSOR_SCROLL` option). At the end iterators were implemented with default options to allow traversing forward only and that's why this was never needed.

Not sure if I'll submit this PR any time soon.

[2017-01-13 16:56] pmjones commented on #107
This appears to be fixed by #138. Thanks for the report!

[2017-01-13 16:56] #107 closed

[2017-01-18 00:00] pavarnos opened #139 "Memory leak in mb_ereg (3.x-dev)"
There is a memory leak in https://github.com/auraphp/Aura.Sql/commit/c90d5e41737dfc37390261da2ebb58beadddf322#diff-b3a065d18dc02d1d5303063ecda9fc5bR330
if $this->statement is an object (like Aura\SqlQuery\Select).

`Fatal error: Allowed memory size of 536870912 bytes exhausted (tried to allocate 951310208 bytes) in /var/www/mysite/vendor/aura/sql/src/Parser/State.php on line 335`

It needs to be c

[2017-01-19 15:14] pmjones commented on #139
Yet another reason to try and move away from mbstring, if at all possible.

[2017-01-19 15:15] pmjones commented on #139
@jlacoude Any thoughts on this?

[2017-01-19 15:26] pmjones commented on #139
@pavarnos In the mean time, casting to a string might be a worthwhile addition. Can you try for me, changing line 532 in AbstractExtendedPdo from this:

    $queries = $this->parser->rebuild($statement, $values);

To this:

    $queries = $this->parser->rebuild((string) $statement, $values);

That should solve the object-related issue.

Let me know if that works!

[2017-01-19 15:29] pmjones commented on #139
(Or, alternatively, put the cast into AbstractParser::rebuild(), or the Query constructor.)

[2017-01-19 20:06] pavarnos commented on #139
heading out of the office for the next few days... won't have the chance to try. but as mentioned in the original comment `mb_ereg_search_init((string) $this->statement)` fixes it.

I agree with moving away from mb_ereg* because it looks like it keeps internal state and will not be thread safe if/when the PHP world moves to reactphp or similar.

[2017-01-22 22:47] pmjones commented on #139
I believe mb_ereg has been removed entirely, as of #141, which resolves this specific issue. However, @pavarnos, if you want, I'm still happy to receive a PR that converts incoming objects to strings.

[2017-01-22 22:47] #139 closed

[2017-01-22 22:48] pmjones commented on #126
Good enough. If you find a need, please re-open as you find convenient. Thanks!

[2017-01-22 22:48] #126 closed

[2017-01-22 23:56] pavarnos commented on #139
thanks. all my tests pass since this latest merge, so its looking good.

[2017-01-23 21:17] pmjones commented on #98
This should be fixed with recent pushes to the 3.x branch; cf. the new Profiler::setLogFormat() et al. methods.

[2017-01-23 21:17] #98 closed

[2017-01-23 21:22] pmjones commented on #133
Fixed by https://github.com/auraphp/Aura.Sql/commit/3d07fdd25736cd9842f119fed772011510f22762

[2017-01-23 21:22] #133 closed

[2017-01-25 05:46] pavarnos opened #142 "Performance issues with new parser"
New parser is quite a bit slower than the old one...
<img width="1473" alt="transactions_-_new_relic" src="https://cloud.githubusercontent.com/assets/589595/22279254/79521fe8-e32e-11e6-8997-b4f7997b4c46.png">
<img width="1031" alt="_new_relic" src="https://cloud.githubusercontent.com/assets/589595/22279256/7c83b794-e32e-11e6-9a61-74d8d6c61c07.png">

[2017-01-25 14:26] pmjones commented on #142
Yeesh, that's ugly. @jlacoude thoughts?

p.s. I figured it would be a noticeable difference, but not *that* noticeable. Maybe I'll put together a benchmark comparison. @pavarnos If you have a battery of query statements to parse, send them along.

[2017-01-25 15:50] pmjones commented on #142
It's pretty significant. Benchmark code:

[code]

Results:
[code]

That's about a 3x difference on a very short query string; I imagine it gets worse as the string gets longer.

[2017-01-25 15:57] pmjones commented on #142
So, a series of questions:

- How important is it to automatically detect placeholders for array values, and expand them to comma-separated placeholders in the query string?

- If it's still important, how important is it to support non-utf-8 query strings?

- Is it possible to duplicate the character-by-character parsing wth a parser/rebuilder more like the older 2.x version, *and* avoid the bugs

[2017-01-25 16:02] pmjones commented on #142
Further, it may make sense to restrict the array-expansion to named placeholders only, which might help simplify the parser/rebuilder logic.

[2017-01-25 19:15] pavarnos commented on #142
my 2c worth
- array values: essential. When i was hunting for a package a year ago, Aura was the only major one that did it that also had clean code. It was the deciding factor
- utf8 only? v3 is allowed BC breaks, so why not.
- would dropping support for ? placeholders simplify things? Aura.SqlQuery has some extra baggage around handling those for join clauses that could be cleaned out if so...

[2017-01-28 20:57] pavarnos commented on #142
random idea (based on not understanding much about the parser or utf8 queries)...

would a naive approach work? eg since this is a new version and we are allowed BC breaks, make the parser do only 3 simple things
- strip comments
- the parser knows which placeholders are array values so can look for exactly `(:placeholder)` with a str_replace and do the array value substitution. Leave the rest for

[2017-01-29 16:49] JLacoude commented on #142
The performance problem comes from trying to extract the structure of the SQL string character per character.

As it's done mainly to handle the nested strings and comments I've tried to check if it could be done with regular expressions. It seems to be.

[Here is a method](https://gist.github.com/JLacoude/93beb8f56de233556fd7c028379cf5dc) which takes a SQL string as input and gives back an array

[2017-02-02 18:26] harikt commented on #142
@JLacoude touch regx :( .

I think if we could not easily digest the regx, and if a bug occurs the time to patch it will be also heavy. Probably it need more experienced hands here at the time.

So the question is how much of these functionalities are really needed / used normally.

[2017-02-03 00:52] pavarnos commented on #142
@JLacoude that is some awesome ninja regex-fu.
Following @harikt  comments: would splitting it make sense? Run it in stages.
1. strip comments
2. remove 2nd and subsequent queries (they are unused)
3. explode into chunks: quoted strings, sql code (keep the chunks in original string order)
4. replace array parameters in sql code
5. join(' ', $chunks)

?
would make it easier to test too...

[2017-02-03 17:34] pmjones commented on #142
Good Lord, that's complex. Though maybe not more complex than the lexer, and maybe faster. @JLacoude try replacing the lexer with that, and incorporate array expansion if you can. (I'll experiment with it myself, too.)

[2017-02-03 23:46] pmjones commented on #142
@pavarnos @JLacoude @harikt --

I have created a new branch, `re-rebuilder`, with the @JLacoude regex-fu instead of the @JLacoude lexer code, integrating the regex work into the older "Rebuilder" and ignoring the "Parser" classes. Benchmark results are:

[code]

So, better than the lexer (about 2x faster), but not as good as the original 2.x codebase (about half as fast).

Further thoughts?

[2017-02-03 23:53] pmjones commented on #142
@pavarnos Would it be possible for you to send (perhaps by email) a long query string, and some fake values, that you are using in the application you showed the stats for above? Alternatively, would you be willing to try the `re-rebuilder` branch in your setup, and see how well it performs for you?

[2017-02-04 04:17] harikt commented on #142
@pmjones this is my current thought. I am not in favor for regex. It is not for the regex is not powerful. But hard to understand ( at-least for me ).

I was again looking at https://github.com/auraphp/Aura.Sql/issues/104 and it do mention not to use regx and we are moving towards it.

Regarding your current rebuilder and regx .

I was just experimenting with this query string

[code]

over https:

[2017-02-04 04:20] pmjones commented on #142
@JLacoude Do you have any thoughts on the comments from @harikt above?

[2017-02-04 22:23] JLacoude commented on #142
The logic of the regexp is to capture groups of comment and string. It takes everything until it finds the first character starting a string or comment. Then it captures it. Next try is started where this match ended thanks to the \G.

About your regex101 experiment:

I started with pgsql so '#' is not recognized as a comment with this regexp (yes we'll still need one parser per driver). So the fi

[2017-02-05 15:50] harikt commented on #142
Thank you for the explanations @JLacoude .

[2017-02-05 16:56] pmjones commented on #142
@JLacoude I've been working with the new regex, and have a good level of understanding on how it works now. To compare it more closely to the 2.x rebuilder code, I pulled out the single/double line comment and the dollar-quoted string parts, and benchmarked it:

[code]

So, for the exact same functionality as the old 2.x rebuilder, the new regex-fu approach takes about 25% longer.

I've been argui

[2017-02-05 18:01] pmjones commented on #111
@dhrrgn Revisiting this after a long hiatus;  this should be fixed on the 2.x branch now. Sorry for the very extended delay.

[2017-02-05 21:42] pavarnos commented on #142
@pmjones emailed example queries to your gmail address as requested.

i like the idea of pluggable / composable / injectable rebuilders so that for a specific project if you need dollar quoted strings you can have them. And if you don't, you don't need to pay the performance cost. Taking it to ridiculous extremes: do you have any data on how important array parameter expansion is to people who use

[2017-02-05 22:26] pmjones commented on #142
Received!

Yeah, settable rebuilder/parser, a la the @JLacoude work, is definitely the way to go.

[2017-02-06 04:18] harikt commented on #142
@pmjones we could add all these Rebuilders, and mention about those in the docs. The users can choose from various implementations may be nice.

[2017-02-06 06:11] JLacoude commented on #142
@pmjones I'm all for settable parsers

@pavarnos I don't know about the use of array parameters but the functionality I know I use a lot is the fact you can use the same named placeholder multiple times in a statement which PDO does not allow.

[2017-02-06 19:31] pavarnos commented on #142
@JLacoude i use (same named placeholder multiple times) heavily too.

http://php.net/manual/en/pdo.prepare.php has some interesting comments that may save some code / time (emphasis mine):

MySQL emulates by default, which is possibly why this has never been an issue for me?

Aura\Sql currently allows these to be mixed, but at cost of some complexity. Is this a feature worth carrying forward?

Doe

[2017-02-15 07:24] pavarnos commented on #142
Have been doing some more performance testing the last few days. Cut down the Aura DecoratedPDO and put the naive parser into it. No performance difference.

Have just switched to the re-parser branch. Will monitor that for a day or so to see how performance goes.

[2017-02-15 15:42] cdekok opened #149 "quoteIdentifier for tables / columns"
it would be nice if the library would provide a way to escape tables / columns similar to the zf db adapter.

[2017-02-15 16:22] harikt commented on #149
@cdekok you can use something like https://github.com/auraphp/Aura.SqlQuery

[2017-02-15 16:54] cdekok commented on #149
@harikt Ah yes perhaps this issues should be in the query project as it already has the quoter object.
Unfortunately the getQouter method there is protected.
If i would like to do something like `$sql = 'create database ' . $db->quoteName('foo')` it's not possible without instantiating or overriding the queryFactory as far as I can see.

[2017-02-15 16:58] pmjones commented on #149
@cdekok Would you find it sufficient to ...

    $quoter = new Aura\SqlQuery\Quoter('`', '`');

... and then use `$quoter` for your purposes?

[2017-02-15 17:57] harikt commented on #149
@pmjones I have edited your answer to have FQNS. So easy to understand I believe. Else it took sometime to light my brain :-) .

[2017-02-16 00:32] pavarnos commented on #142
No discernable difference in performance for re-parser branch.
<img width="1039" alt="newrelic" src="https://cloud.githubusercontent.com/assets/589595/23001848/156f8fb8-f44c-11e6-8254-1dc959da5cfb.png">
Tested over a shorter time period, and site is not so busy at the moment, but if there was an issue we should have seen it.
Looks like you are good to go: OK to close this issue.

[2017-02-16 15:55] pmjones commented on #142
Thanks everyone for the analysis and critique here. This issue is now fixed by #144.

[2017-02-16 15:55] #142 closed

[2017-02-16 16:48] pmjones commented on #132
The addition of methods after connection occurs with pgsql as well <https://secure.php.net/manual/en/pdo.pgsqlcopyfromarray.php> (though not with mysql or sqlsrv).

I think that the example from @dhrrgn is the one to follow here. I'll put something together.

[2017-02-16 17:15] pmjones commented on #132
Fixed by fa03dd8 .

[2017-02-16 17:15] #132 closed

[2017-02-17 08:39] cdekok commented on #149
@pmjones Yeah this will work only I feel that this should only be instantiated once depending on which database you use.
Now I can still make my own database wrapper around it but as a user I would prefer the library takes care if this for me already.
Perhaps this would be a something which could be done in a Aura Db package which bundles the two libraries or having the quoter in a public interfac

[2017-02-17 19:37] pmjones commented on #149
@cdekok In the 1.x version, there was a pretty sophisticated quoteIdentifier() system that would examine an SQL query for identifiers and then quote them automatically. In 2.x it was extracted to the SqlQuery library, as it seemed to make more sense having it there.

Having said that, I might be OK with bringing it back in the 3.x version, but only for the simplest possible case; that is, to quote

[2017-02-18 00:45] pavarnos opened #150 "getPDO() or getInnerPDO()?"
Can we have a getPDO() or getInnerPDO() method?

Would be very handy when using phpDebugBar and other libraries which have their own PDO decorator.
I have code that builds the PDO and DecoratedPdo in a nice small tidy method that works for any environment. Later on, in another galaxy far far away, we check to see if we are on a dev server or in debug mode or whatever. What I want to be able to do

[2017-02-18 01:28] pmjones commented on #150
Call it getPdo() and send a PR! :-)

[2017-02-18 01:29] pmjones commented on #150
As a side note, is `DebugBar\DataCollector\PDO\TraceablePDO` typehinted on `PDO`? Because `ExtendedPdo` extends PDO directly, so a PDO typehint should work there.

[2017-02-18 03:25] pavarnos commented on #150
Yes. see https://github.com/maximebf/php-debugbar/blob/master/src/DebugBar/DataCollector/PDO/TraceablePDO.php#L12

but the example code above was simplified quite a bit. I actually typehint against `class DatabaseConnection extends DecoratedPdo` because it makes stuff a lot clearer... long story... too boring to tell...

[2017-02-18 06:45] cdekok commented on #149
Definitely it would just be a simple method to quote table names / columns in a way other libraries support too for example DBAL
http://www.doctrine-project.org/api/dbal/2.5/source-class-Doctrine.DBAL.Connection.html#714-731
or ZF
https://framework.zend.com/apidoc/2.2/classes/Zend.Db.Adapter.Platform.Postgresql.html#quoteIdentifier
I wouldn't like to see any magic escaping.

[2017-02-19 21:27] #150 closed

[2017-02-24 17:19] pmjones commented on #149
@cdekok Please review the new `quote-name` branch, targeted for the 3.x release, specifically this commit: https://github.com/auraphp/Aura.Sql/commit/03607a9e5abfe488f33961806d864ac2b947c666

Let me know if that suits your use case(s).

[2017-03-02 21:02] pmjones commented on #149
@cdekok Any thoughts on the above commit?

[2017-03-03 08:29] cdekok commented on #149
@pmjones sorry was a bit busy, it looks great by me and exactly what I needed.
It's a shame we cannot just use the quoter from the SqlQuery though but I suppose splitting up the quoter in it's own library is perhaps a bit too much for something so simple.

[2017-03-04 20:58] pmjones commented on #149
Merged in #153

[2017-03-04 20:58] #149 closed

[2017-03-10 19:13] pmjones commented on #136
If someone wants to actually write the examples, that's cool with me; send a PR and I'll review. Closing this ticket until then; can re-open as needed.

[2017-03-10 19:13] #136 closed

[2017-05-01 20:19] pavarnos opened #157 "ProfilerInterface too broad?"
Is the Profiler interface is broader than it needs to be? AbstractExtendedPdo only calls `$profiler->start()` and `$profiler->finish()`.

The other methods fall into two groups:
- `setLogLevel()`, `getLogger()`, `getLogFormat()` belong to a profiler that implements a Psr\Log\LoggerInterface
- `setActive()`, `isActive()` belong to a profiler than can be switched on and off

AbstractExtendedPdo does

[2017-06-05 19:20] jelofson opened #158 "ExtendedPdo prepareWithValues error in MySQL"
Was messing with Atlas and ran into the following mysql error.

We can use the usual scenario of threads, tags, and taggings in this example.

In atlas, if we try the following:

[code]

If there are no associated tags for the post, then the query will fail (in mysql). Works in sqlite, so tests seem to pass.

What appears to happen is the 3rd query that is prepared will look something like this:
[

[2017-06-05 19:20] pmjones commented on #158
I think this is more in the realm of Atlas.

[2017-06-05 19:22] jelofson commented on #158
@pmjones Ok, then I can close this and open a new issue in Atlas if you like...

[2017-06-05 19:23] pmjones commented on #158
I think that's the most appropriate thing to do; many thanks! (I can already imagine the fix.)

[2017-06-05 21:00] #158 closed

[2017-06-08 18:36] auroraeosrose opened #159 "sqlsrv can't use errmode_exception"
Long ago and far away (in 2015) there was a bug in pdo_sqlrv (see issue #90) which was fixed with a rather hacky detection of sqlsrv in the dsn string

However... it's 2017 and pdo_sqlsrv is long fixed (was fixed even before their github move) but the hacky workaround in code is breaking exception usage with the driver, you cannot set the error mode to exception using the extended pdo constructor

[2017-06-09 01:48] pmjones commented on #159
Thanks a ton for pointing this out, and sorry for the hassle. Think up a PR and send it along at your convenience. (And good to see you. :-)

[2017-06-09 12:55] auroraeosrose commented on #159
I'm thinking that a note in the docs that you MUST set your error mode to non-exception if you're still on super old versions of the driver and get that obscure error + ripping the hack out would be the best fix

[2017-06-09 18:16] pmjones commented on #159
I'm OK with that. Can you link me to which version (or when) the errmode_exception starting being valid? It would help with the docs.

Thanks for your patience.

[2017-06-10 14:30] pmjones commented on #159
@auroraeosrose Wait, this hack-fix exists only in the 3.x branch, yes? If so, then seeing as there have been only alpha releases of 3.x, pulling it out is zero problem.

[2017-06-13 19:29] frederikbosch opened #160 "Stable version?"
Any news on a stable version?

[2017-06-22 16:55] #159 closed

[2017-06-22 16:56] auroraeosrose commented on #160
I'd be happy with a new release or a beta :)

[2017-06-22 16:58] pmjones commented on #157
Maybe? But at the same time, I find myself using those things elsewhere, so I'm content to leave them in place. Do you have strong feelings about it one way or the other?

[2017-06-22 21:20] pavarnos commented on #157
nope, no strong feelings. was just thinking through the interface when trying one of several ways to connect ExtendedPDO to phpDebugBar (which wraps a PDO) while also wrapping it in my own layer of convenience functions.

[2017-06-22 21:20] #157 closed

[2017-06-28 15:23] pmjones commented on #160
New beta version released https://github.com/auraphp/Aura.Sql/releases/tag/3.0.0-beta1

Barring any bad reports, stable will be next!

[2017-06-28 15:23] #160 closed

[2017-08-24 15:05] php- opened #162 "Invalid parameter count"
Hello

for the example query
`SELECT * FROM users WHERE username = :user_name OR email = :user_name`
and setting

`$select->bindValue('user_name', $username);`

Gives SQL wrong parameter number error. Problem is using one placeholder twice, I think this should not be a problem and it works for normal PDO statements

[2017-09-21 16:40] harikt commented on #162
You may look into 3.x version .. https://github.com/auraphp/Aura.Sql/blob/695b240f1bd64dd5ba457935d7c0337be1055be5/docs/upgrade.md#repetition-of-named-placeholders . It is still not released as stable, but on betas.

[2017-09-21 18:48] php- commented on #162
Alright, thanks!

[2017-09-21 18:48] #162 closed

[2017-10-25 16:36] AlexHowansky opened #163 "getAttribute() pass-through calls do not work"
Using 3.0.0-beta1:
[code]
This returns nothing and emits the following warning:
[code]
Forcing a connect with the `connect()` method before calling `getAttribute()` does not work. I can work around the issue by doing this:
[code]
However, I don't believe this should be required, as the `getAttribute()` method should still work correctly in the extended class.

[2017-11-18 14:05] harikt commented on #163
The problem why it is not working is mentioned on https://github.com/auraphp/Aura.Sql/pull/164#issuecomment-341367053 .

For the current time, as you can rely on the `getPdo` please make use of it.

Thank you.

[2018-02-07 07:57] gerritdrost opened #165 "@throws tag causes incorrect PHPStorm warning"
Latest versions of PHPStorm check for exceptions thrown by methods being called, and give a warning when the exceptions are not handled && not mentioned in the PHPDocs using a `@throws` tag.

When using Aura.Sql's `ExtendedPdo`, for example by calling `ExtendedPdo::query`, it incorrectly warns about an unhandled `\Aura\Sql\PDOException`:

![problem](https://user-images.githubusercontent.com/563027

[2018-03-05 12:06] #165 closed

[2018-03-05 12:07] harikt commented on #163
Merged. So closing the same.

[2018-03-05 12:07] #163 closed

[2018-03-12 13:02] sunkan opened #168 "ExtendedPdoInterface missing yield methods"
The ExtendedPdoInterface don't have any of the yield methods defined.

[2018-03-12 13:10] pmjones commented on #168
Yeah; adding them to the interface would be a BC break, sadly.

[2018-03-12 13:11] sunkan commented on #168
My bad it's Atlas that depends on 2.x branch

[2018-03-12 13:18] pmjones commented on #168
Maybe add them as @method docblocks, so that IDE typehinting works even when they're not in the interface proper?

[2018-03-12 13:19] sunkan commented on #168
yea that would work. can put together a pull request

[2018-03-12 13:30] pmjones commented on #168
Thanks, and thanks for the attention you've given the project lately!

[2018-03-12 13:35] sunkan commented on #168
I have been using Aura packages for years so I feel I need to give something back.

[2018-03-12 13:42] pmjones commented on #168
Fixed via #169

[2018-03-12 13:42] #168 closed

[2018-06-06 01:37] dashifen opened #173 "Inserting NULL values?"
This is probably the wrong place to ask this, though hopefully you can help.  I googled around and found a lot of information about working with the base PDO object and inserting (or updating) database cells to a NULL value, but I haven't been able to figure out how to do it with using Aura.Sql and it's underlying ExtendedPdo object.

I've tried sending NULL, null, '', 'NULL', and PDO::PARAM_NULL

[2018-06-06 03:06] pmjones commented on #173
If you could paste a code sample for what you're trying, that might help with a diagnosis.

[2018-06-06 12:58] dashifen commented on #173
Even something as simple as the following, where $db is the database connection:

`$db->fetchAffected('INSERT INTO someTable (x, y) VALUES (:x, :y)', ["x"=>10, "y" =>PDO::PARAM_NULL]);`

Ends up inserting 0 -- which is the value of the constant, so I understand why.  But other values like null, 'NULL', and an empty string also don't actually insert a NULL into nullable columns.

Thoughts?

[2018-06-06 13:38] pmjones commented on #173
Aha! PDO::PARAM_NULL indicates the *type* of the param, not the *value* of the param. What happens when you try this?

```$db->fetchAffected('INSERT INTO someTable (x, y) VALUES (:x, :y)', ["x"=>10, "y" => null])```

[2018-06-06 13:53] YaroslavMolchan commented on #173
@pmjones hello, i have same problem where try to insert `null` value, parser ignore it, I find fix but its not perfect.
I add code here: https://github.com/auraphp/Aura.Sql/blob/3.x/src/Parser/AbstractParser.php#L213
![image](https://user-images.githubusercontent.com/9335727/41042316-038e29ba-69aa-11e8-991e-775e7668f417.png)
When value is null `(array) $this->values[$this->num]` is empty and null

[2018-06-06 15:42] TheMY3 commented on #173
@pmjones think I get same error last night - https://github.com/auraphp/Aura.Sql/pull/174

[2018-06-06 23:15] dashifen commented on #173
If I use null (as in the PHP keyword), then I run into this:

`Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ')`

If I `var_dump()` the values being bound into the SQL statement, they look like this:  `(3, '48', '3', )`.

The example I ran did attempt to insert into four c

[2018-06-07 05:06] TheMY3 commented on #173
@dashifen my pull request will fix it, I got same error some days ago and find solution, but need approve.

[2018-06-07 11:35] pmjones commented on #173
Nicely done, @YaroslavMolchan .

@dashifen I have applied the fix from @YaroslavMolchan ; try out 3.x master and let me know how it goes!

[2018-06-07 12:24] dashifen commented on #173
Awesome.  I'll check it out after work and let you know!

[2018-06-07 15:28] TheMY3 commented on #173
@dashifen can your create new release? Can`t get my changes from repo.

[2018-06-08 10:48] dashifen commented on #173
@pmjones @YaroslavMolchan The fix worked like a charm!  Thanks so much :)

As for getting it out of the repo, I just downloaded the zip and replaced the prior version in my vendor folder.  It won't work over the long term, but once 3.0 is released, the new tag will get picked up by packagist and then composer should be able to grab it.

Thanks for your time, both of you!

[2018-06-11 12:58] pmjones commented on #173
@dashifen @YaroslavMolchan Closing this issue as a result of the merged PR, and releasing 3.0.0 stable.

Thank you both for your work here!

[2018-06-11 12:58] #173 closed

[2018-06-13 20:28] kevinsmith opened #175 "Attempt to save boolean values results in silent failure"
Using the `perform()` method to prepare and bind a boolean value for an insert results in a silent failure. The record is not inserted, and we only discovered it because Atlas threw an exception— `Expected 1 row affected, actual 0.`. I was able to recreate the bug without Atlas.

Recreate the bug with this table:

[code]

And this `ExtendedPdo` call:

[code]

Result: No errors or exceptions, but t

[2018-06-13 20:40] pmjones commented on #175
Great catch. Send a PR if you can, otherwise I will attend as time permits. Thanks!

[2018-06-20 02:59] kevinsmith commented on #175
It occurs to me that this change may have unintended consequences for PDO instances using drivers other than MySQL. I'm unfamiliar with most of them, so I can't imagine how they might behave when expecting a boolean and receiving an integer. What are your thoughts on including driver-specific behavior in this library?

[2018-06-26 01:39] RyanCasas commented on #175
@kevinsmith, could you please test if #176 solves your issue? If it does so, we could write a phpunit test for this use case.

[2018-07-27 13:47] hakuno commented on #175
Hey guys @pmjones @kevinsmith look at PR sent by @RyanCasas :+1:

[2018-07-31 17:36] harikt commented on #175
Looks good to me. Need a unit test to make sure everything works as expected.

[2018-07-31 19:35] kevinsmith commented on #175
Yep, looks great! Just needs a unit test.

[2018-08-02 19:03] pmjones commented on #175
Fixed in https://github.com/auraphp/Aura.Sql/commit/d1283359bb552571a79568e91e64bc7f2dc4f8ac and released in version 2.5.3.

[2018-08-02 19:03] #175 closed

[2018-09-06 23:12] chekalsky opened #177 "Bug with pgsql query"
If you will try to do this:

`$pdo->fetchCol("SELECT id FROM table WHERE removed = false AND data @> '{\"is_hidden\":false}'::jsonb AND type in (:types)", ['types' => [1, 2]]);`

you will get an error from DB: `SQLSTATE[08P01]: <<Unknown error>>: 7 ERROR:  bind message supplies 0 parameters, but prepared statement "pdo_stmt_00000001" requires 1`

And this is because `:types` will be skipped [here]

[2018-09-21 21:23] chekalsky commented on #177
Anybody?

[2019-01-28 14:03] RVN-BR opened #179 "DB Reconnection"
Hi All, I'm looking at aura as a base for replacing some older code in one of my projects.

One of the items we implemented was reconnection, but I see there is nothing mentioned of it in any issues and it isnt in the code.  (I have seen some other wrappers that do implement it).

Is there any reason why automatice reconnection isnt implemented?  Is there any recommendation on how to implement thi

[2019-02-18 17:52] chekalsky commented on #177
@pmjones is Aura.SQL abandoned?

[2019-02-19 06:49] pmjones commented on #177
Which version are you trying this with: v2, or v3?

[2019-03-04 19:27] chekalsky commented on #177
[v3](https://github.com/auraphp/Aura.Sql/blob/3.x/src/Parser/AbstractParser.php#L154)

[2019-04-17 19:33] peter279k commented on #179
I think the DB reconnection work is required.

And we can use this method to establish database connection again easily.

[2019-05-21 15:24] harikt commented on #179
Sorry for late reply. Just noticed the comments here. You may be interested in its predecessor  https://github.com/atlasphp/Atlas.Pdo .

[2019-05-21 15:29] harikt commented on #179
Regarding your query, does it really lost the connection ?

I was looking at the api, and have an idea, check whether the [getPdo](https://github.com/auraphp/Aura.Sql/blob/2be02d5dfd9fdee6df199de1a19572aa490bb744/src/ExtendedPdo.php#L158) is active or not. Else call disconnect and this will connect again on next query.

[2019-05-26 22:32] djmattyg007 commented on #179
@harikt I believe Atlas PDO is the spiritual successor, not the predecessor :)

[2019-05-27 03:07] harikt commented on #179
Cool.

[2019-05-30 16:51] php- opened #181 "Auto adding Ticks"
This is so annoying, for example using: `@@session.time_zone` will add ticks to `session` and `time_zone` is there a way I can disable this feature?
This also happens if you use `count(distinct x)` and many more cases.

[2019-06-25 10:14] aolko opened #182 "Decode json? (to arrays)"
Why aura.sql detects json as strings and doesn't even attempt to decode it? Any way to fix that behavior? (Happens both on `varchar`/`text` and `json` rows)

[2019-06-26 07:32] r4ndsen opened #183 "Bug in Queryparser for SQLite"
in sqlite a columnname containing `:` is valid, however the queryparser currently does not support this.

adjusting the `$skip` and `$split` fixed it for us

PR: https://github.com/auraphp/Aura.Sql/compare/3.x...r4ndsen:patch-2

[2019-06-26 07:35] r4ndsen commented on #183
[code]
^ this how works, previously it was trying to bind the non-existing `:c` param

[2019-07-12 00:13] php- commented on #181
@harikt @pmjones please can you take look at this?

[2019-07-12 05:50] harikt commented on #181
Hi @php- ,

I am wondering how you are using `@@session.time_zone` . Is this a field ? Can you show exact issue on a Pull request how you are using the feature.

I can't promise I will fix it, but I can look into it.

[2019-07-12 23:36] php- commented on #181
For example: `convert_tz(field, @@session.time_zone,  to_desired_timezone)`, and this does not matter you use in selection or in where clause.

There are many different cases as I mentioned before like `COUNT(DISTINCT field))`, I think you should add config to enable/disable it. because they way it works, is really limiting some good features of SQL language.

Thanks

[2019-07-13 02:54] koriym commented on #181
Hi @php-

It would be nice if you provide minimal, self-contained, reproducing test case that shows the problem you are reporting.

[2019-07-13 06:45] harikt commented on #181
Hi @php- ,

I believe you can enable / disable it via setting the parser to `NullParser` .

[code]

Remember once you unset to new parser you may want to set it again if you want to make sure other quoting related functionalities is working fine.

Hope that helps to resolve your issue / use case .

[2020-01-31 06:56] harikt commented on #182
Aura only retrieves data, it does not transform the data for you. So I believe this is doing correct as expected. You can always decode once you get the data.

[2020-01-31 06:56] #182 closed

[2020-04-26 13:56] r4ndsen commented on #183
as you can see in the example
`"a:A"` is a string and is treated as such
`'B:b'` is a string and is treated as such
`c:c` refers to the column `c:c` directly and should not be part of the prepared statement. however this is where the bug in the query parser hits.

by adding backtick to the "specially treated characters" this problem is avoided

[2020-10-24 08:03] mitmelon opened #186 "Question"
Connection Locator#

I have two database one for read and one for write...

My question is... When inserting data into the write database will the data also reflect on the read automatically. What I mean is that the data added to the write database will it also automatically add to the read database without me adding them manually.

How does the read database access the write database for view.

A

[2020-12-21 10:48] aik099 opened #187 "Using 2.x and 3.x in parallel"
The project, where Aura.Sql is being used must work on different PHP versions, and on some only Aura.Sql 2.x is supported.

I have several issues caused by this:

1. the `ProfilerInterface` was moved to a different namespace (I've mitigated that using the `class_alias` function)
2. new methods added on `ProfilerInterface`, that I have no idea how to implement
3. the `Aura\Sql\Iterator\AllIterator`

[2021-05-28 22:16] rotexdegba opened #189 "What is the future of this project?"
What is the future of this project? In my opinion, it is feature complete and only needs to have the latest versions of PHP (7.3, 7.4 & 8.0 as of this writing) tested via travis or Github Actions to ensure it continues to work with the currently supported version of PHP. Will anyone be updating the CI tests for this project?

[2021-05-29 13:29] koriym commented on #189
This repo has a CI test with php8.
https://github.com/auraphp/Aura.Sql/blob/3.x/.travis.yml#L22

[2021-06-02 04:55] rotexdegba commented on #189
There should be a php 8.0 entry below here   https://github.com/auraphp/Aura.Sql/blob/c12e9f028ab8c83e9d1daee593f5d978882c488f/.travis.yml#L9

[2021-06-04 04:55] koriym commented on #189
Not officially supported with PHP8 at the moment.
Feel free to fix it and make a pull request. Contribution appreciated.

[2021-08-03 18:01] brandonsavage commented on #189
I confirmed today that this package at HEAD does run on PHP 8.0.9 (all tests green). We need to do a few things to make this package great again:

* Release a 3.0.1 or 3.1.0 with PHP 8 compatibility.
* Set up GitHub actions to build the project
* Have a discussion about dropping support for unsupported or old versions of PHP (I'm thinking 7.1 and below).
* Determine what, if any, new features shou

[2021-08-06 02:42] kenjis commented on #189
- The Aura 3.x series was for PHP 5.6 and later.
- The Aura 4.x series is for PHP 7.2 and later.
- I imagine a 5.x series, if you want to start one, should be for ~~8.0 (or perhaps~~ 8.1 ~~?)~~ and later.

See https://github.com/auraphp/Aura.Cli_Kernel/pull/12#issuecomment-873248524

[2021-08-07 12:48] brandonsavage commented on #189
I think this makes a lot of sense. We'll also need to discuss end of life for ancient branches. I would suggest that once the oldest version is out of support for 3 years we consider a 2 year end of life period. That would make the Aura 2.x packages end of life in 2019, which means we would issue one final release of this package under 2.x and call it a day. 3.x would get support until December 31

[2021-08-07 12:54] brandonsavage commented on #187
Is your intent here to have a version of 2.x installed alongside 3.x and picking which one to use based on which version of PHP you're using?

[2021-08-07 20:33] aik099 commented on #187
The goal is to have a single code base for my project, that will auto-pick (via Composer) compatible Aura.Sql version based on the used PHP version and my project would work with either of picked Aura.Sql versions.

[2021-08-07 21:48] brandonsavage commented on #187
Have you tried the OR (||) operator with two package versions? Composer
should pick between them.

On August 7, 2021 at 16:33:17, Alex ***@***.***) wrote:

[2021-08-08 00:25] djmattyg007 commented on #187
Composer should definitely do that automatically for you.

[2021-08-09 10:13] aik099 commented on #187
Composer is picking the correct Aura.Sql package version, however, due to BC breaks in Aura.Sql 3.x my code, that worked with Aura.Sql 2.x, no longer works on Aura.Sql 3.x.

I even can't adapt my code to work with Aura.Sql 3.x due to the above (in issue description) mentioned BC breaks, that I have no idea how to overcome:

* new `ProfilerInterface` methods with no implementation examples;
* remov

[2021-08-09 11:01] djmattyg007 commented on #187
You're probably going to have to polyfill those things yourself. It's unreasonable to expect an author to maintain backwards compatibility at all costs. That's why they've bumped the major version number of the package.

[2021-08-09 18:41] aik099 commented on #187
I understand, that I must polyfill them, but I have no idea how. Knowing why things were removed and how it's done in the Aura.Sql 3.x version would be really helpful.

[2021-08-10 18:41] brandonsavage commented on #187
Hey Alex,

I'd define an interface and then have concrete classes that proxy to the 2.x and 3.x series components, or replace them. Make sense?

If you're still having trouble, your question is probably out of scope for a GitHub issue, but would fall into the "consulting/contracting" space. I'm sure @pmjones or someone like him could offer some help in this area. Most of us have our email addresse

[2021-08-11 07:52] aik099 commented on #187
Thanks for explaining. Architectural problems aside I still have no idea how to adapt my code to work with Aura.Sql 3.x with `ProfilerInterface` change and iterator removal.

// cc @pmjones

[2021-08-18 12:09] brandonsavage opened #190 "Create GIthub Actions to automatically build and test this package"
We should create Github Actions to automatically build and test this package against various versions of PHP.

[2021-08-18 12:14] brandonsavage commented on #187
@aik099 It looks like you may have to backport `ProfilerInterface` yourself, or copy the component from the older version. At this point I'm going to close the issue because there's not too much we can specifically do to assist, but I hope you're able to get what you need working.

[2021-08-18 12:14] #187 closed

[2021-08-18 12:16] brandonsavage commented on #186
@mitmelon You need to set up replication, which is out of the scope of this project. This project assumes you have already set up replication from write to read.

Here's the documentation for MySQL and PostgreSQL:

https://dev.mysql.com/doc/refman/8.0/en/replication.html
https://www.postgresql.org/docs/13/runtime-config-replication.html

[2021-08-18 12:16] #186 closed

[2021-10-26 14:51] srjlewis opened #192 "PHP 8.1 Compatibility"
Hi

I am looking to add php 8.1 compatibility, I am thinking of using 3.x-actions branch as it has most of the phpunit updates.

I am looking to add the required typing, there are mainly 2 php RFC's that are going to caused the main problems,but I suspect there will be a few more.

1. https://wiki.php.net/rfc/deprecate_null_to_scalar_internal_arg
2. https://wiki.php.net/rfc/internal_method_return_

[2021-10-27 01:24] kenjis commented on #192
See https://github.com/auraphp/Aura.Cli_Kernel/pull/12#issuecomment-873248524

-    The Aura 3.x series was for PHP 5.6 and later.
-    The Aura 4.x series is for PHP 7.2 and later.
-    I imagine a 5.x series, if you want to start one, should be for 8.0 (or perhaps 8.1?) and later.

[2021-10-27 01:31] kenjis commented on #192
Personally, I think it would be good to set the Aura 5.x requirement to PHP 8.1 or later.

[2021-10-27 08:18] srjlewis commented on #192
Yes I agree, 5.x should start a 8.1, as current 3.* does work fine for PHP 8.0, as PHP 8.1 is now starting to enforce typing from the core of PHP the 5.x series can now be fully typed.

If you are happy with that, I will branch from 3.x-actions as it has updates to phpUnit.

As a side note I will be having a look at aura.sqlquery and aura.sqlschema, but for the meantime they seem to be working fin

[2021-10-28 06:00] kenjis commented on #192
@pmjones @harikt @koriym
Are you okay Aura 5.x requires PHP 8.1 or later?

[2021-10-28 12:50] pmjones commented on #192
@kenjis fine by me!

[2021-10-28 13:57] srjlewis commented on #192
Ok I have done all the changes, everything is typed, tests have been fixed, github actions has been updated.

All test are passing local and on github actions.

I will wait for you to branch it, then make a PR to the new branch.

[2021-10-28 21:25] kenjis commented on #192
I created `5.x` branch from `3.x-actions`.
https://github.com/auraphp/Aura.Sql/tree/5.x

It seems #191 is missing in 5.x.

[2021-10-28 22:24] srjlewis commented on #192
I have created pull request #193 to 5.x branch

[2021-11-01 19:46] afilina opened #194 "Type hint incomplete"
The type hint suggest that it can only be an `array`, but if we dig into the [method](https://www.php.net/manual/en/pdostatement.fetch.php#refsect1-pdostatement.fetch-returnvalues) whose result we return, we see that it returns `false` on failure. This causes problems with static analysis tools when we then attempt to compare the result to `false`.

https://github.com/auraphp/Aura.Sql/blob/2754f95

[2021-11-02 08:13] kenjis opened #195 "Scrutinizer Error"

[2021-11-10 03:52] #190 closed

[2021-11-10 03:53] #192 closed

[2021-11-11 16:03] iansltx opened #199 "Version that doesn't throw deprecation warnings in 8.1 but works in 8.0?"
I realize I'm coming in on the tail end of this discussion, but is there any reason that 5.x *couldn't* work with PHP 8.0? Right now you can either use 3.x, which throws a bunch of deprecation warnings in 8.1, or 5.x, which is incompatible with 8.0, so there's no way to set up a codebase using Aura.Sql that'll run cleanly on both. Ideally I want to make all the code changes I need for forward comp

[2021-11-11 22:19] kenjis commented on #199
Thank you for your question.

It is the policy of Aura Project.

-    The Aura 3.x series was for PHP 5.6 and later.
-    The Aura 4.x series is for PHP 7.2 and later.
-    The Aura 5.x series is for PHP 8.1 and later.

See https://github.com/auraphp/Aura.Sql/issues/192#issuecomment-953527015 and https://github.com/auraphp/Aura.Cli_Kernel/pull/12#issuecomment-873248524

[2021-11-11 22:38] iansltx commented on #199
...but Aura.Sql doesn't have a v4.x branch, or did I miss something? I did see the "are you okay with 8.1" "sure, go ahead" comment as I was checking into this, though I hadn't seen the earlier comment you linked here, where @pmjones was unsure of whether to target 8.0 or 8.1.

On initial scan, I didn't see anything that would prevent 8.0 compat. If other folks aren't averse and the lift is relati

[2021-11-11 23:42] kenjis commented on #199
`5.x` requires `"php": ">=8.1"`, so you can't install on PHP 8.0 even if it is compatible with 8.0.
It seems you need `4.x` branch that requires `"php": ">=7.2"`.

[2021-11-11 23:44] iansltx commented on #199
Is there a 4.x release of Aura.Sql?

I realize that composer.json has the hard version requirement of ^8.1. if it didn't I wouldn't have raised an issue. I would've just installed it :)

[2021-11-12 00:06] kenjis commented on #199
No. When we need it, we create it.

[2021-11-12 00:19] iansltx commented on #199
If I created a PR for 5.x that passes all tests on 8.0 as well as 8.1, would y'all merge, or would I need to run a fork at that point?

[2021-11-12 00:29] iansltx commented on #199
Alternately, if I figured out a way to get compat with 7.2-8.1 on Aura.Sql without deprecation warnings, would y'all be amenable to tagging that as 4.x, providing a bridge from 3.x (5.6-8.0) to 5.x (8.1+)?

[2021-11-12 00:49] kenjis commented on #199
I don't oppose to create `4.x` for PHP 7.2 - 8.1.

`5.x` dropped support of PHP 8.0. It means we can use all PHP 8.1 functionality.
Making `5.x` 8.0 compatible is non sense for me.

[2021-11-12 01:01] iansltx commented on #199
Got it; will see what I can do here for 7.2-8.1 compat.

[2021-11-12 13:26] iansltx commented on #199
Took maybe an hour and 20 to drop enough 7.3+ features to get things to run, plus adding the annotations needed to bridge without deprecation warnings, but we now have an Aura.Sql version, based on the 5.x branch (so, as many enhancements from that branch as possible), that passes with no deprecation warnings from PHP 7.2 to PHP 8.1. So now folks (ourselves included) have a bridge version that we

[2021-11-12 17:35] koriym opened #201 "Works with all versions of PHP from 5.6 to 8.1"
I've created an experimental branch that works with all versions of PHP from 5.6 to 8.1.

https://github.com/koriym/Aura.Sql/pull/3

The modified, hacky this test code is not beautiful at all. But I can confirm that the Aura.Sql code works with all versions of PHP in one branch.

[2021-11-13 02:22] kenjis commented on #199
@iansltx Thank you for your effort!

I've created `4.x` branch from `5.x`.
Now you can send a PR.

[2021-11-13 02:38] pmjones commented on #199
Gotta say I'm impressed by the teamwork here. Nicely done!

[2021-11-13 04:20] koriym commented on #199
The 3.x code that @pmjones created in 2015 still gets the job done today, people just need it to work in a latest PHP environment.

 "can use all PHP 8.1 functionality." Do we need it? I have slightly mixed feelings about dropping PHP 8 support in 5.x and more branches with almost the same content.

[2021-11-13 05:20] iansltx commented on #199
I will say that, if I had just needed to drop 8.1 only functionality rather than 7.3-8.1, my job would've been easier. And 8.0 support would've been enough to allow for a smooth transition from 3.x to 5.x, which is excellent for a version that has been around for six years and crossed two major PHP releases compat-wise.

But I basically said that earlier :)

[2021-11-14 11:53] koriym commented on #199
I'm sorry if I sounded rough. It's certainly great to see various people contribute in this way to solve the problem.

[2021-11-26 00:55] kenjis commented on #199
It is dangerous question. It might kill ourselves. ;-)

But many developers should love 8.1, and want to use it.
8.1 seems to be really good!
https://www.php.net/releases/8.1/en.php

[2021-11-26 00:58] iansltx commented on #199
I was asking what functionality in 8.1.Aura.Sql v5 used. The answer appears to be "PDO returning integers" and nothing really else?

[2021-11-26 01:13] kenjis commented on #199
According to the PHP manual, changes on PDO are:
- https://www.php.net/manual/en/migration81.new-features.php#migration81.new-features.pdo_mysql
- https://www.php.net/manual/en/migration81.incompatible.php#migration81.incompatible.pdo
- https://www.php.net/manual/en/migration81.deprecated.php#migration81.deprecated.pdo
- https://www.php.net/manual/en/migration81.other-changes.php#migration81.other

[2021-12-19 23:48] iansltx commented on #199
Closing this as 4.x covers 7.2-8.1.

[2021-12-19 23:48] #199 closed

[2021-12-19 23:50] iansltx commented on #189
So at this point we have versions that works with 7.2-8.1 (4.x) and 8.1+ (5.x). Question is, what's preventing us from tagging those? I think 4.x can be tagged as 4.0.0 now as it's a bridge version so folks can, without deprecation warnings, run the same lib version in 8.0 and 8.1, and doesn't need any additional functionality. Just bumped our codebase to 5.x and I'd like to drop `@dev` from that

[2021-12-20 01:09] brandonsavage commented on #189
@iansltx 4.0.0 and 5.0.0 have both been tagged and pushed. Thanks for the suggestion. Please let us know if there's anything else you need.

[2022-01-01 09:06] tbreuss commented on #189
Is the documentation regarding all this tag and php version stuff up-to-date?

[2022-01-01 12:36] brandonsavage commented on #189
Since these changes were internal modifications only and test updates, there was no need to change the documentation. As far as I'm aware the behavior remains the same.

[2022-01-05 17:52] r4ndsen commented on #194
👍
the same is true for https://github.com/auraphp/Aura.Sql/blob/4.x/src/AbstractExtendedPdo.php#L348

the method `fetchObject(..): object` does in fact *not* only return `object`. it returns `object|false`
i made it working with this hack:

[code]

please note that the issue is also present in the `5.x` branch

[2022-01-05 18:06] r4ndsen commented on #189
yes, please adjust the return types to reflect the actual behavior of the underlying pdo object:
https://github.com/auraphp/Aura.Sql/issues/194#issuecomment-1005945179

[2022-01-12 10:45] r4ndsen commented on #194
we have provided this pull request
https://github.com/auraphp/Aura.Sql/pull/204

[2022-01-26 06:29] #201 closed

[2022-01-27 12:34] koriym opened #205 "Release note"
Hi

Currently, 4.0.0 and 5.0.0 have been tagged, but no release notes are available.
If GitHub's auto-generated release notes are good enough, they are available.

https://github.com/auraphp/Aura.Sql/releases

What do you think? It's a change from the previous format, but it's easy to create mechanically.

[2022-01-27 14:02] pmjones commented on #205
I think it looks great! How did you do it?

[2022-01-27 14:15] koriym commented on #205
Jus press this button!

<img width="256" alt="image" src="https://user-images.githubusercontent.com/529021/151376167-12ce2d9e-6f58-4b62-84c6-ba5bdc13fc71.png">

[2022-01-27 14:26] koriym commented on #205
@pmjones Can I change the state from draft to publish for those? You can add any notes later.

[2022-01-27 14:28] pmjones commented on #205
Sure -- do as you see fit, and thanks for taking care of it!

[2022-01-27 15:20] koriym commented on #205
@brandonsavage I added release notes to the tags you created.

[2022-01-27 15:21] koriym commented on #205
In addition, I set the default branch to the latest `5.x`.

[2022-01-27 15:22] #205 closed

[2022-01-27 15:24] koriym commented on #205
@pmjones @brandonsavage Please feel free to edit them.

[2022-01-28 15:40] harikt commented on #189
Hi,

I have created a separate issue to discuss about the future of aura packages. If you guys can contribute it will be great. https://github.com/auraphp/bin/issues/13

Regarding the documentation, we need to update the bookdown links in the auraphp.github.com repo. I can do that when I get sometime.

[2022-02-19 05:23] harikt commented on #194
Thank you @r4ndsen for your contribution. This has been fixed in 5.x branch and released 5.0.1 hope that helps.

I will check if this can be fixed in 4.x also.

[2022-02-19 05:45] harikt commented on #194
@afilina It looks like we will not be able to fix this in 4.x to support 8.1 features.

The union type is not supported in 7.x . So leaving as it is. In case if you have some other fix I will be happy to in-corporate those. Can we close this as we have 5.0.1 support 8.x ?

Thank you.

[2022-02-19 05:46] harikt commented on #189
@r4ndsen #194 is merged and 5.0.1 is released. This note is for reference only.

[2022-02-21 13:45] afilina commented on #194
@harikt I don't have a fix, so feel free to close it if it's addressed in a later version.

[2022-02-26 06:58] harikt commented on #194
Hi guys,

I made a PR #209 so that 3.x will continue to work on 8.1. Please have a look into it, and report any issues.

I was mainly trying to address the YOURLS issue by @LeoColomb .

The doc comments may not be addressed correctly. So if anyone is willing to send a PR I will merge it. The rest of the code hopefully should work without any issues.

If merged I will make a new release and close t

[2022-02-26 07:11] harikt commented on #195
this has been fixed via https://github.com/auraphp/Aura.Sql/pull/206

[2022-02-26 07:11] #195 closed

[2022-02-26 07:25] harikt commented on #189
Hi guys,

I guess this has been addressed to some extend.

We will be having 3.x which will work upto 8.1 once #209 is merged. And also 5.x for those who are in 8.1 .

The tests are all running on github CI for many months now.

As this is an opensource project anyone can step in and send PR . I hope any of the members of our team will try to address it.

Thank you.

[2022-02-26 11:10] rotexdegba commented on #189
Thank you. I will look into future contributions to this and other aura packages I am familiar with.

[2022-02-28 04:30] harikt opened #213 "Abandon 4.x ?"
Hi all,

We have 3.x which supports from 5.6 to 8.1 now.

4.x currently have some issues due to return types as mentioned in #194 .

5.x is using > 8.1 which supports union types, so #194 is not a problem.

Considering the return type failure ( multiple return types not handled ) for 4.x I think we should drop support for 4.x .

Thoughts ?

[2022-02-28 04:32] iansltx commented on #213
As the person who built out 4.x to bridge between 3.x and 8.1, yeah, nuke it.

[2022-02-28 11:55] harikt commented on #183
This has been fixed. Closing for now.

[2022-02-28 11:55] #183 closed

[2022-02-28 12:48] harikt commented on #177
@chekalsky sorry for being late here. I actually added a failing test.

The fun fact is if you change the order

[code]

this will work.

I don't have a fix right now. But can look into it at some point of time.

[2022-04-27 19:45] ozh opened #217 "Consider tagging / releasing 3.0.1 please ?"
Hello there,

With ce1ac37 the 3.x branch passes tests on PHP 7.4 to 8.1, except for marginal issues opened since 2019 such as #177 and related #216. As far as I can see there is no other PR or issue regarding branch `3.x`

Would you consider tagging and releasing at this commit ?

I'd rather use `"aura/sql": "^3"` instead of  `"aura/sql": "3.x-dev#ce1ac37"` in my `composer.json` :)

Thanks in adv

[2022-04-28 05:15] harikt commented on #217
Sorry for being late. I missed it.

Tagged 3.1.0 . Have not merged #216 related to the issue #177 . We want to look into that bug and fix it at some point of time.

[2022-04-28 05:15] #217 closed

[2022-04-28 05:16] harikt commented on #213
Thank you @iansltx . I was waiting for others reply. But seems there is no objections. So we are officially abandoning 4.x .

[2022-04-28 05:16] #213 closed

[2022-04-28 05:19] harikt commented on #194
This has been addressed and 3.1.0 is released. Thank you guys for your support.

[2022-04-28 05:19] #194 closed

[2022-04-28 06:01] ozh commented on #217
Thanks!

[2022-09-05 22:10] therealsamsquanch opened #222 "How to debug "Column count doesn't match value count"?"
I'm getting this error:

`SQLSTATE[21S01]: Insert value list does not match column list: 1136 Column count doesn't match value count at row 1`

The number of columns, placeholders and array values does match, I've counted at least eight times. Checked commas, placeholders, everything I could think of. Placed each column name and placeholder in a new line, to be extra sure. I tried to replace the p

[2022-09-08 22:33] therealsamsquanch commented on #222
I've found the issue. I had something like this:

[code]

The column `field2` has the datatype `FLOAT`

`$field2_value` is an array, when it should have been a float value.

So, Aura probably transformed `:field2` into `:field2_1` and `:field2_2`, thus the number of columns and values didn't match.

I'm not sure if there's an easy way to identify and throw an _"Invalid data type"_ exception, since

[2022-09-09 14:06] #222 closed